


































































  
  
  
  
  
  
  
  






























































































<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>Home | Peterborough Family Services Directory</title>
		










<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="" />

<link href="includes/css/wireframe/wireframe.css" type="text/css" media="screen, projection" rel="stylesheet" />
<link href="includes/css/jquery-ui-1.8.21.css" type="text/css" media="screen, projection" rel="stylesheet" />
<link href="includes/css/customer.css" type="text/css" media="screen, projection" rel="stylesheet" />
<link href="includes/css/print.css" type="text/css" media="print" rel="stylesheet" />

<link id="textonly" href="includes/css/textonly.css"  rel="alternate" type="text/css" media="screen, projection" />
<!--[if lt IE 9]><link  href="includes/css/ie.css" type="text/css" media="screen, projection" rel="stylesheet" /><![endif]-->
<!--[if IE 6]>
  <link  href="includes/css/ie6.css" type="text/css" media="screen, projection" rel="stylesheet"/>
<![endif]-->
<!--[if IE 7]>
  <link  href="includes/css/ie7.css" type="text/css" media="screen, projection" rel="stylesheet"/>
<![endif]-->
<!--[if IE 8]>
  <link  href="includes/css/ie8.css" type="text/css" media="screen, projection" rel="stylesheet"/>
<![endif]-->
<script type="text/javascript">
var _gaq = _gaq || 
[]; 
_gaq.push(['_setAccount', 'UA-54246121-1']); 
_gaq.push(['_trackPageview']);
(function() 
{ 
var ga = document.createElement('script'); ga.type = 
'text/javascript'; ga.async = true; 
ga.src = ('https:' == 
document.location.protocol ? 'https://ssl' : 'http://www') + 
'.google-analytics.com/ga.js'; 
var s = 
document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, 
s); 
})();
</script>
<script  data-main="//search3.openobjects.com/cdn/wf/WF2Dependencies" src="//search3.openobjects.com/cdn/require/2.1.9.min.js" type="text/javascript"></script>		
	</head>
	<body id="home" class="home_page">
	
	
		
		<div class="container">
			<div id="header" class="span-48">
				<div id="headerLinks">
					<div id="headerLeftLinks">
						<ul>
							<li><a href="cookies.page">Cookies Policy</a>&nbsp;|&nbsp;</li>
							<li><a accesskey="0" href="accessibility.page">Accessibility</a>&nbsp;|&nbsp;</li>
							<li><a accesskey="5" class="textonlycontrol" href="#">Text Only</a></li>
						</ul>
					</div>
					<div id="headerRightLinks">
						<ul>
							
								
									
									
										<li><a href="sign_in.page">Sign In</a>&nbsp;|&nbsp;</li>
										<li><a href="register.page">Register</a></li>
									
								
							
						</ul>
					</div>
				</div>
				<div class="span-17 clear" id="title-holder">
					<span id="siteTitle">Peterborough Family Services Directory</span>					
				</div>
				<div class="prepend-top span-29-last" id="search-holder">
					<form action="results.page" class="left" method="get">
						<label for="qt" class="hide">Search:</label>
						<input type="text" id="qt" name="qt" class="hide_text" value="" data-text="Find a service..." title="Search for an activity, service or organisation"/>
						<label for="loc" class="hide">Postcode or placename:</label>
						<input type="text" id="loc" name="loc" class="hide_text" value="" data-text="In location" title="Search for a location using postcode, place name or postal outcode" />	
						<input type="submit" value="Search" class="btn btn-info" />
				  </form>
				</div>
			</div>
			<div id="navigation">
				<div class="menubar">
	<div class="menu-inner">
		<div class="container">
			<ul class="menu">
					
					
						
						<li class="dropdown">
							<a href="home.page">Home</a>
							<ul class="dropdown-menu">
								
									<li><a href="family.page?familychannel=3055621">Childcare and available Funding</a></li>
								
									<li><a href="family.page?familychannel=3054386">Learning and Skills</a></li>
								
									<li><a href="family.page?familychannel=3054502">Clubs, Activities and Sports</a></li>
								
									<li><a href="family.page?familychannel=3054678">Behaviour</a></li>
								
									<li><a href="family.page?familychannel=3054796">Families - being a parent or carer</a></li>
								
									<li><a href="family.page?familychannel=3054935">Money and welfare benefits</a></li>
								
									<li><a href="family.page?familychannel=3054996">Relationships</a></li>
								
									<li><a href="family.page?familychannel=3055051">Teenagers</a></li>
								
									<li><a href="family.page?familychannel=3055103">Travel and Transport</a></li>
								
									<li><a href="family.page?familychannel=3055140">Children's Centres</a></li>
								
									<li><a href="family.page?familychannel=3055183">Children</a></li>
								
									<li><a href="family.page?familychannel=3055285">Advice and Support</a></li>
								
									<li><a href="family.page?familychannel=3055385">Parents' and children's rights</a></li>
								
									<li><a href="family.page?familychannel=3055519">Children's Safety and Protection</a></li>
								
									<li><a href="family.page?familychannel=3055687">Health</a></li>
								
									<li><a href="family.page?familychannel=3055812">Activities for the under 5s</a></li>
								
									<li><a href="family.page?familychannel=3055888">Disability and Special Needs</a></li>
								
									<li><a href="family.page?familychannel=3055953">Schools and Learning</a></li>
								
									<li><a href="family.page?familychannel=3056216">Pregnancy and Maternity</a></li>
								
							</ul>
						</li>
						
					
				
				
					
				
				
					
						<li class="">
							<a href="site.page?id=dJwnC1bX86Y">Job Vacancies</a>
							
						</li>
					
				
				
					
						<li class="dropdown">
							<a href="whats_on.page">Whats On</a>
							
								<ul class="dropdown-menu">
									
										<li><a href="events.page">All Events</a></li>
									
										<li><a href="events.page?days=0">Today</a></li>
									
										<li><a href="events.page?days=7">Next 7 Days</a></li>
									
										<li><a href="events.page?days=30">Next 30 Days</a></li>
									
								</ul>
							
						</li>
					
				
				
					
						<li class="">
							<a href="a_to_z.page">A-Z List</a>
							
						</li>
					
				
				
					
						<li class="">
							<a href="contact.page">Contact Us</a>
							
						</li>
					
				
				<li class="shortlist right"><a accesskey="4" href="shortlist.page">Shortlist (<span id="shortlist_count">0</span>)</a></li>
			</ul>
		</div>
	</div>
</div>
			</div>
			
			<div id="content" class="clearfix column">
				<div class="span-47">
					










<div class="span-47">
	<h2>Welcome to the Peterborough Families Information Service</h2>
</div>
<div class="site_resource span-18"><p>&nbsp;</p>
<p><strong>Welcome to the Families Information Service for Peterborough</strong>.</p>
<p>We are a free, impartial one-stop-shop service providing information, advice and assistance to families or prospective families on all aspects of childcare, including available funding, and family life in general</p>
<p><b>Please click on the relevant boxes on the right to find out more, or select the appropriate tab above</b></p>
<p><a href="https://www.peterborough.gov.uk/residents/special-educational-needs/local-offer/" target="_self" title="Local Offer"><strong>Click on this link to see information about the Peterborough Local Offer</strong></a></p>
<p>If you cannot find what you are looking for, or need more assistance please ring us on <b>01733 864446</b> between 9.00am and 5.00pm Monday to Friday or use the <b>&lsquo;Contact Us&rsquo;</b> tab above</p>
<p>Please email any information regarding clubs, groups, events and activities to <a href="mailto:fis@peterborough.gov.uk">fis@peterborough.gov.uk</a></p>
<p></p></div>
<div class="last span-29">
	<h3>Select a category</h3>
	<div id="categoryWrap">
				
			<a id="cat3055621" class="btn btn-info btn-large" href="family.page?familychannel=3055621" title="Childcare and available Funding">Childcare and available Funding</a>		
				
			<a id="cat3054386" class="btn btn-info btn-large" href="family.page?familychannel=3054386" title="Learning and Skills">Learning and Skills</a>		
				
			<a id="cat3054502" class="btn btn-info btn-large" href="family.page?familychannel=3054502" title="Clubs, Activities and Sports">Clubs, Activities and Sports</a>		
				
			<a id="cat3054678" class="btn btn-info btn-large" href="family.page?familychannel=3054678" title="Behaviour">Behaviour</a>		
				
			<a id="cat3054796" class="btn btn-info btn-large" href="family.page?familychannel=3054796" title="Families - being a parent or carer">Families - being a parent or carer</a>		
				
			<a id="cat3054935" class="btn btn-info btn-large" href="family.page?familychannel=3054935" title="Money and welfare benefits">Money and welfare benefits</a>		
				
			<a id="cat3054996" class="btn btn-info btn-large" href="family.page?familychannel=3054996" title="Relationships">Relationships</a>		
				
			<a id="cat3055051" class="btn btn-info btn-large" href="family.page?familychannel=3055051" title="Teenagers">Teenagers</a>		
				
			<a id="cat3055103" class="btn btn-info btn-large" href="family.page?familychannel=3055103" title="Travel and Transport">Travel and Transport</a>		
				
			<a id="cat3055140" class="btn btn-info btn-large" href="family.page?familychannel=3055140" title="Children&#039;s Centres">Children's Centres</a>		
				
			<a id="cat3055183" class="btn btn-info btn-large" href="family.page?familychannel=3055183" title="Children">Children</a>		
				
			<a id="cat3055285" class="btn btn-info btn-large" href="family.page?familychannel=3055285" title="Advice and Support">Advice and Support</a>		
				
			<a id="cat3055385" class="btn btn-info btn-large" href="family.page?familychannel=3055385" title="Parents&#039; and children&#039;s rights">Parents' and children's rights</a>		
				
			<a id="cat3055519" class="btn btn-info btn-large" href="family.page?familychannel=3055519" title="Children&#039;s Safety and Protection">Children's Safety and Protection</a>		
				
			<a id="cat3055687" class="btn btn-info btn-large" href="family.page?familychannel=3055687" title="Health">Health</a>		
				
			<a id="cat3055812" class="btn btn-info btn-large" href="family.page?familychannel=3055812" title="Activities for the under 5s">Activities for the under 5s</a>		
				
			<a id="cat3055888" class="btn btn-info btn-large" href="family.page?familychannel=3055888" title="Disability and Special Needs">Disability and Special Needs</a>		
				
			<a id="cat3055953" class="btn btn-info btn-large" href="family.page?familychannel=3055953" title="Schools and Learning">Schools and Learning</a>		
				
			<a id="cat3056216" class="btn btn-info btn-large" href="family.page?familychannel=3056216" title="Pregnancy and Maternity">Pregnancy and Maternity</a>		
		
	</div>
</div>
<div class="clear"></div>
				</div>
			</div>

			<div id="footer" class="clearfix column">
				<div class="footer-image"></div>
			</div>
		</div>
	</div>
	










<script src="//search3.openobjects.com/cdn/jquery/1.7.2.min.js" type="text/javascript"></script> 
<script src="//search3.openobjects.com/cdn/jquery/ui/1.10.min.js" type="text/javascript"></script>
<script src="//search3.openobjects.com/cdn/bootstrap/2/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript" src="includes/js/jquery.multiselect.min.js" charset="utf-8"></script>
<script type="text/javascript" src="includes/js/jquery.cookie.js" charset="utf-8"></script>
<script type="text/javascript" src="includes/js/jquery.multiselect.filter.min.js" charset="utf-8"></script>
<script type="text/javascript" src="includes/js/jquery.wireframeUtils.js" charset="utf-8"></script>
<script type="text/javascript" src="includes/js/jquery.myHubUtils.js" charset="utf-8"></script>
<script type="text/javascript" src="includes/js/common.js" charset="utf-8"></script>
<script type="text/javascript" src="includes/js/textOnly.js" charset="utf-8"></script>

		<script type="text/javascript" src="includes/js/jquery.tooltip.min.js"></script>
		<script type="text/javascript">
		//<![CDATA[
			$(document).ready(function(){				
				$('.category_node a').tooltip({ 
				  showBody: " - ",
				  showURL: false
				});
			});
		//]]>
		</script>
	
<script type="text/javascript">
     require(['AppLoader'],function(){ 
  	   	App.load("Toolbar"); 
 	 });
</script>	
	<div class="footer-banner"><p class="container">Peterborough City Council. Town Hall, Bridge Street, Peterborough, PE1 1HF -(01733) 747474 - DX12310 Peterborough<a accesskey="7" href="disclaimer.page" class="right">Disclaimer</a><a accesskey="8" href="privacy_policy.page" class="right">Privacy Policy</a></p></div>	
	
	
	</body>
</html>