<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>Southend&#039;s SHIP directory</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="description" content="SHIP Landing Page" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>

<link rel="Shortcut Icon" type="image/x-icon" href="http://www.southend.gov.uk/site/favicon.ico" />
<meta name="google-site-verification" content="JWKfyfNdt7jgdq8q2K-u4lFLnfo_mnZX5plttjh3ssc" />

<link href="css/customer.css" rel="stylesheet"  type="text/css" media="screen, projection" />
<link href="css/jquery-ui-1.8.23.css" type="text/css" media="screen, projection" rel="stylesheet" />

<link href="css/customer-print.css" type="text/css" media="print" rel="stylesheet" />
<link id="textonly" href="css/customer-textonly.css"  rel="alternate" type="text/css" media="screen, projection" />

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<![endif]-->

<!--[if lt IE 9]><link  href="css/customer-ie.css" type="text/css" media="screen, projection" rel="stylesheet" /><![endif]-->
<!--[if IE 6]>
  <link  href="css/customer-ie6.css" type="text/css" media="screen, projection" rel="stylesheet"/>
<![endif]-->
<!--[if IE 7]>
  <link  href="css/customer-ie7.css" type="text/css" media="screen, projection" rel="stylesheet"/>
<![endif]-->
<!--[if IE 8]>
  <link  href="css/customer-ie8.css" type="text/css" media="screen, projection" rel="stylesheet"/>
<![endif]-->

<script type="text/javascript">
var _gaq = _gaq || 
[]; 
_gaq.push(['_setAccount', 'UA-54431103-1']);
_gaq.push(['_trackPageview']);
(function() 
{ 
var ga = document.createElement('script'); ga.type = 
'text/javascript'; ga.async = true; 
ga.src = ('https:' == 
document.location.protocol ? 'https://ssl' : 'http://www') + 
'.google-analytics.com/ga.js'; 
var s = 
document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, 
s); 
})();
</script>
<script data-main="//search3.openobjects.com/cdn/wf/WF2Dependencies" src="//search3.openobjects.com/cdn/require/2.1.9.min.js" type="text/javascript"></script><meta name="keywords" content="Social services,Social care,Care homes,Elderly,Disabled,GP,Advice,Advocacy,Health,Southend,Home care,Adults">
	</head>
	<body id="home" class="landing">
	<div id="layout-wrapper" class="container">
				<div id="content" class="clearfix prepend-top append-bottom">
					<div class="span-15 prepend-1">
	<h1 id="ship_logo">
		<a href="help.page" title="Help">
			<img src="images/customer/home_ship_logo.png" alt="Southend's Health & Wellbeing Information Point">
		</a>
	</h1>
</div>
<div class="span-32-last prepend-top">
	<h2>Southend's SHIP directory</h2>
	<h3><b>Welcome to SHIP, Southend&rsquo;s Information Point and Directory of Services for Adults, Children and Families</b></h3>
<h3></h3>
<h3><b>Please choose one of the categories below to access the area you are interested in.</b></h3></div>
<div id="categoryWrap" class="clear clearfix center">
	<a class="families" href="home.page" title="Children and Families">
		<span>Children and Families</span>
	</a>
	<a class="adults" href="http://www.southendinfopoint.org/kb5/southendonsea/asch/home.page" title="Adults">
		<span>Adults</span>
	</a>
</div></div>
				<div id="footer" class="clearfix column">
					<div class="span-48">				
						<div class="right" id="supported">
							<img src="images/customer/footer_01.png">
							<a target="_blank" href="http://www.southend.gov.uk/"><img src="images/customer/footer_02.png" alt="Southend on sea Borough Council" /></a>
							<a target="_blank" href="http://www.vibrance.org.uk/"><img src="images/customer/footer_03.png" alt="Vibrance" /></a>
							<a target="_blank" href="http://www.southendccg.nhs.uk"><img src="images/customer/Southend_CCG_web.jpg" alt="SEE NHS" /></a>
							<a target="_blank" href="http://www.savs-southend.org/"><img src="images/customer/footer_05.jpg" alt="NHS South East Essex" /></a>
						</div>
					</div>
				</div>
			</div>	
			<script type="text/javascript" src="js/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="js/jquery-ui-1.8.23.min.js" charset="utf-8"></script>
<script type="text/javascript" src="js/bootstrap.min.js" charset="utf-8"></script>
<script type="text/javascript" src="js/nhs.js" charset="utf-8"></script>
<script type="text/javascript" src="js/jquery.multiselect.min.js" charset="utf-8"></script>
<script type="text/javascript" src="js/jquery.multiselect.filter.min.js" charset="utf-8"></script>
<script type="text/javascript" src="js/jquery.cookie.js" charset="utf-8"></script>
<script type="text/javascript" src="js/jquery.masked.js" charset="utf-8"></script>
<script type="text/javascript" src="js/jquery.form.js" charset="utf-8"></script>
<script type="text/javascript" src="js/jquery.wireframeUtils.js" charset="utf-8"></script>
<script type="text/javascript" src="js/common.js" charset="utf-8"></script>
<script type="text/javascript" src="js/textOnly.js" charset="utf-8"></script>
<script type="text/javascript" src="js/jquery.cycle.js" charset="utf-8"></script>

<script type="text/javascript" src="js/nhs.js"></script>
		<script type="text/javascript">
		//<![CDATA[
			$(document).ready(function(){				
				
			});
		//]]>
		</script>
	</body>
	</html>
	