<!DOCTYPE html>
		<html lang="en">
			<head>
				<!-- Meta & Page Information -->
				<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"> 
<title>Sunderland Family Information Service</title>
<!-- Stylesheets -->
				<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
<link href="assets/css/presence.min.css" rel="stylesheet" type="text/css" media="all"/>
<link href="//search3.openobjects.com/cdn/formvalidation/0.6.3/css/formValidation.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="//search3.openobjects.com/cdn/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" data-youshallnotparse="true" />
<link href="assets/css/theme-highcontrast.min.css" rel="alternate stylesheet" type="text/css" media="all" title="High contrast" disabled="disabled" />
<link href="assets/css/theme-bluecontrast.min.css" rel="alternate stylesheet" type="text/css" media="all" title="Blue contrast" disabled="disabled" />
<link href="assets/css/theme-creamcontrast.min.css" rel="alternate stylesheet" type="text/css" media="all" title="Cream contrast" disabled="disabled" />
<link href="assets/css/print.min.css" rel="stylesheet" type="text/css" media="print" />
<link href="assets/css/fdsa.min.css" rel="stylesheet" type="text/css" />
<link href="assets/css/fel.min.css" rel="stylesheet" type="text/css" />
<link href="//apps.openobjects.com/authentication/v1/css/app.css" type="text/css" rel="stylesheet" /><!-- IE Specific Assets -->
				<!--[if lte IE 9]>
	<script src="//search3.openobjects.com/cdn/placeholder/3.0.2.min.js"></script>
<![endif]-->
<!--[if lt IE 9]>
	<link href="assets/css/ie.min.css" rel="stylesheet" type="text/css" media="all" />
	<script src="//search3.openobjects.com/cdn/html5shiv/3.7.2.min.js"></script>
	<script src="//search3.openobjects.com/cdn/respond/1.4.2.min.js"></script>
	<script src="//search3.openobjects.com/cdn/selectivizr/selectivizr.js"></script>
	<script src="assets/js/ie.min.js" type="text/javascript"></script>
<![endif]--></head>
			<body id="home_page" class="unresponsive core_page">
				<a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
				 <header id="topbar">
					<div class="container">
						<nav id="returntomain">
							<a href="http://www.sunderland.gov.uk/" target="_blank">
								<span>Visit main council site:</span>
								<img src="assets/images/presence/scc-header-logo.png"  alt="Sunderland City Council Logo"/>
							</a>
							
						</nav>
						<a href="#" class="reciteme right" title="Recite">&nbsp;</a>
					</div>
					
				</header>
				<div class="container">
					<!-- Header -->
					<header id="header">
						<div id="header_right_side" class="header_group">
							<div id="hub_links">
								<ul>
									<li><section id="kbauth-links" class="authentication-app authentication-app-currentuser">
  
    <a href="sign_in.page" class="btn btn-link">My account</a>
  
</section></li>
									<li><a href="accessibility.page" class="btn btn-accessibility">Accessibility</a></li>
								</ul>
							</div>
							<div id="fdsa_resume_link">
									</div>
							</div>
						<nav id="primary_nav" class="navbar navbar-default" role="navigation">
	<div class="fluid-container primary-navbar-wrapper">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-navbar">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand collapsed_menu_item" href="home.page">Sunderland Family Information Service</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="primary-navbar">
			<div class="header-menu-container">
				<div id="header_title">
					<a href="home.page" title="Home page">
						<img src="assets/images/presence/sunderland-fis-logo.png" alt="All Together Sunderland" />
					</a>
				</div>
				<div id="header_nav">
					<ul class="nav navbar-nav">
						<li class="active"><a href="home.page" title="Home page">Home</a></li>
						<li class="dropdown category_menu " role="presentation">
							<a href="#" data-toggle="dropdown" class="dropdown-toggle" title="Directory">Categories&nbsp;<span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="family.page?familycategories=0" title="Families">Families</a></li>
											<li><a href="localoffer.page?localoffercategories=0" title="Local Offer">Local Offer</a></li>
											</ul>
								</li>
						<li ><a title="You said â We did" href="advice.page?id=xPGYM0-mLsU">You said - We did</a></li>
						<li ><a title="What's On" href="whats_on.page">What's On</a></li>
						<li ><a title="Help" href="help.page">Help</a></li>
						<li ><a title="Contact Us" href="contact.page">Contact Us</a></li>
					</ul>
				</div>
				<div id="shortlist_container">
					<a title="My Shortlist" href="shortlist.page"><div id="header_shortlist"class="shortlist"><i class="fa fa-file-text-o"></i></br><span class="shortlist_count badge">0</span></br><span class="small_text">My Shortlist</span></div></a>
				</div>
			</div>
			<div class="searchbar-container">
				<form class="navbar-form home_page" role="search" id="search-navbar" novalidate action="results.page">
					<div class="form-group has-feedback">
						<label class="sr-only" for="navbarQT">Search for</label>
						<input type="text" class="form-control" name="qt" id="navbarQT" placeholder="Keyword(s)" size="25" value=""/>
						<i class="form-control-feedback fa fa-search"></i>
					</div>
					<div class="form-group">
						<div class="input-group">
							<label class="sr-only" for="navbarTerm">in location</label>
							<input type="text" class="form-control" name="term" id="navbarTerm" placeholder="Place name or postcode" size="25" value="" />
						</div>
					</div>
					<div class="form-group">
						<input type="hidden" name="sorttype" value="field"/>
						<button type="submit"><i class="fa fa-search"></i>Search</button>
						</div>
				</form>
			</div>
		</div>
	</div>
</nav></header><!-- End Header -->
					<!-- Breadcrumb -->
					<!-- End Breadcrumb -->
					<!-- Content -->
					<div id="content" class="clearfix"><h1></h1>
<div id="page_content">
	<div id="main_content">
		<div id="category-blocks">
			<div class="category-block family">
						<a href="family.page?familycategories=0">
							<section>
								<img src="assets/images/presence/family-panel.png" alt="">
								<h2>Families</h2>
								<p><p>Services and activities for children and young people</p></p>
							</section>
						</a>
					</div>
				<div class="category-block localoffer">
						<a href="localoffer.page?localoffercategories=0">
							<section>
								<img src="assets/images/presence/localoffer-panel.png" alt="">
								<h2>Local Offer</h2>
								<p><p>Supporting families and children with special educational needs and disabilities</p></p>
							</section>
						</a>
					</div>
				</div>
	</div>
	</div></div>
					<a href="#" class="back-to-top" title="Link to the top of the page">Back to top</a>
					<!-- End Content -->
					<!-- Footer -->
					<footer id="footer" class="container-fluid clearfix">
						<section>
							<a target="_blank" href="http://www.sunderland.gov.uk/"><img src="assets/images/presence/scc-logo-main.png" alt="Sunderland City Council" /></a>
						</section>
						<section class="sm-container">
							<div>
								<a href="disclaimer.page" target="top">Disclaimer</a>
							</div>
						</section>
						<section class="pull-right">
							<div class="footer-list">
								<ul>
									<li><a href="http://makeitsunderland.com" target="_blank">makeitsunderland.com</a></li>
									<li><a href="http://seeitdoitsunderland.co.uk" target="_blank">seeitdoitsunderland.co.uk</a></li>
									<li><a href="http://sunderland.gov.uk" target="_blank">sunderland.gov.uk</a></li>
									
								</ul>
							</div>
						</section>
					</footer><!-- End Footer -->
				</div>
				<!-- JavaScript -->
				<script src="//search3.openobjects.com/cdn/jquery/1.11.3.min.js" type="text/javascript"></script>
<script src="//search3.openobjects.com/cdn/bootstrap/3.3.5/js/bootstrap.min.js" type="text/javascript"></script>
<script src="//search3.openobjects.com/cdn/formvalidation/0.6.3/js/formValidation.min.js" type="text/javascript"></script>
<script src="//search3.openobjects.com/cdn/formvalidation/0.6.3/js/framework/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/script.min.js" type="text/javascript"></script>
<script src="//apps.openobjects.com/authentication/v1/js/app.js" type="text/javascript"></script>
<script type="text/javascript" src="http://api.reciteme.com/asset/js?key=3af90be30f0eb4e6a44facf6fece8c870fc82419"></script>
<script type="text/javascript">
Recite.load({
 enableButton: '.reciteme'
 });
</script> </body>
		</html>
	