<!DOCTYPE html>
		<html lang="en">
			<head>
				<!-- Meta & Page Information -->
				<link rel="apple-touch-icon" sizes="57x57" href="assets/images/presence/favicons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="assets/images/presence/favicons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="assets/images/presence/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="assets/images/presence/favicons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="assets/images/presence/favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="assets/images/presence/favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="assets/images/presence/favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="assets/images/presence/favicons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="assets/images/presence/favicons/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="assets/images/presence/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="assets/images/presence/favicons/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="assets/images/presence/favicons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="assets/images/presence/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="assets/images/presence/favicons/manifest.json">
<link rel="shortcut icon" href="assets/images/presence/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#dddddd">
<meta name="msapplication-TileImage" content="assets/images/presence/favicons/mstile-144x144.png">
<meta name="msapplication-config" content="assets/images/presence/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" /><title>The Sefton Directory</title>
<script type="text/javascript">
		//<![CDATA[
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-72716322-1']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		//]]>
	</script>
<!-- Stylesheets -->
				<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
<link href="assets/css/presence.min.css" rel="stylesheet" type="text/css" media="all"/>
<link href="//search3.openobjects.com/cdn/formvalidation/0.6.3/css/formValidation.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="//search3.openobjects.com/cdn/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" data-youshallnotparse="true" />
<link href="assets/css/theme-highcontrast.min.css" rel="alternate stylesheet" type="text/css" media="all" title="High contrast" disabled="disabled" />
<link href="assets/css/theme-bluecontrast.min.css" rel="alternate stylesheet" type="text/css" media="all" title="Blue contrast" disabled="disabled" />
<link href="assets/css/theme-creamcontrast.min.css" rel="alternate stylesheet" type="text/css" media="all" title="Cream contrast" disabled="disabled" />
<link href="assets/css/print.min.css" rel="stylesheet" type="text/css" media="print" />
<link href="assets/css/fel.min.css" rel="stylesheet" type="text/css" />
<link href="//apps.openobjects.com/authentication/v1/css/app.css" type="text/css" rel="stylesheet" /><!-- IE Specific Assets -->
				<!--[if lte IE 9]>
	<script src="//search3.openobjects.com/cdn/placeholder/3.0.2.min.js"></script>
<![endif]-->
<!--[if lt IE 9]>
	<link href="assets/css/ie.min.css" rel="stylesheet" type="text/css" media="all" />
	<script src="//search3.openobjects.com/cdn/html5shiv/3.7.2.min.js"></script>
	<script src="//search3.openobjects.com/cdn/respond/1.4.2.min.js"></script>
	<script src="//search3.openobjects.com/cdn/selectivizr/selectivizr.js"></script>
	<script src="assets/js/ie.min.js" type="text/javascript"></script>
<![endif]--></head>
			<body id="home_page" class="core_page">
				<a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
				<div id='fb-root'></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = '//connect.facebook.net/en_GB/all.js#xfbml=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  
 <div class="container" id="page_container">
					<!-- Header -->
					<div class="site-top">
						<ul>
							<li id="accessibility"><a href="accessibility.page" title="Accessibility">Accessibility</a></li>
							<li><a accesskey="6" href="help.page" title="Help using this site"><i class="fa fa-question-circle">&nbsp;</i>Help</a></li>
							<li id="hub_links">
								<section id="kbauth-links" class="authentication-app authentication-app-currentuser">
  
    <a href="sign_in.page" class="btn btn-link">My account</a>
  
</section></li>
							</ul>
					</div>
					<header id="header">
						<div id="header_left_side" class="header_group">
							<div id="header_title">
								<a href="//sefton.gov.uk" title="Home page">
									<img src="assets/images/presence/council.png" alt="Sefton Council Logo" />
								</a>
							</div>
						</div>
						<div id="header_right_side" class="header_group">
							<a href="home.page" title="Home page" id="home_link">
								<img src="assets/images/presence/logo.png" alt="The Sefton Directory" />
							</a>
							<div id="header_social">
								<div class="fb-like" data-href="http://www.seftondirectory.com" data-width="450" data-layout="button_count" data-action="recommend" data-show-faces="false" data-send="false"></div>
								<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
								<div id="header_shortlist">
									<a href="shortlist.page" class="btn btn-shortlist"><span class="shortlist_label">Shortlist</span><span class="shortlist_count badge">0</span></a>
								</div>
							</div>
						</div>
					</header>
					<!-- End Header -->
					<nav id="primary_nav" class="navbar navbar-default _nav" role="navigation">
	<div class="fluid-container primary-navbar-wrapper">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-navbar">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand collapsed_menu_item" href="home.page"><img src="assets/images/presence/logo_small.png" alt="The Sefton Directory"></a>
			</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="primary-navbar">
			<ul class="nav navbar-nav">
				<li class="active"><a href="home.page" title="Home page">Home</a></li>
				<li class="adult">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle" title="Categories">For Adults&nbsp;<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="adult.page?adultchannel=0">Adult Services Directory</a></li>
							<li class="hidden-xs divider"></li>
							<li><a href="adult.page?adultchannel=1" title="Carers">Carers</a></li>
							<li><a href="adult.page?adultchannel=2" title="Things to do">Things to do</a></li>
							<li><a href="adult.page?adultchannel=3" title="Concerned about a vulnerable adult?">Concerned about a vulnerable adult?</a></li>
							<li><a href="adult.page?adultchannel=4" title="Information, Advice &amp; Advocacy">Information, Advice &amp; Advocacy</a></li>
							<li><a href="adult.page?adultchannel=5" title="Help at Home">Help at Home</a></li>
							<li><a href="adult.page?adultchannel=6" title="Housing Support &amp; Care Homes">Housing Support &amp; Care Homes</a></li>
							<li><a href="adult.page?adultchannel=7" title="Keeping Active, Healthy and Well">Keeping Active, Healthy and Well</a></li>
							<li><a href="adult.page?adultchannel=8" title="Transport">Transport</a></li>
							<li><a href="adult.page?adultchannel=9" title="Money Matters">Money Matters</a></li>
							<li><a href="adult.page?adultchannel=10" title="Jobs &amp; Training">Jobs &amp; Training</a></li>
							</ul>
					</li>
				<li class="newfamily">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle" title="Categories">For Families&nbsp;<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="newfamily.page?newfamilychannel=0">Young People &amp; Families</a></li>
							<li class="hidden-xs divider"></li>
							<li><a href="newfamily.page?newfamilychannel=4" title="Concerned about a child or young person?">Concerned about a child or young person?</a></li>
							<li><a href="newfamily.page?newfamilychannel=1" title="Childcare">Childcare</a></li>
							<li><a href="newfamily.page?newfamilychannel=2" title="Children's Centres">Children's Centres</a></li>
							<li><a href="newfamily.page?newfamilychannel=3" title="Clubs &amp; Activities">Clubs &amp; Activities</a></li>
							<li><a href="newfamily.page?newfamilychannel=6" title="Family Services">Family Services</a></li>
							<li><a href="newfamily.page?newfamilychannel=7" title="Fostering &amp; Adoption">Fostering &amp; Adoption</a></li>
							<li><a href="newfamily.page?newfamilychannel=8" title="Keeping healthy &amp; well">Keeping healthy &amp; well</a></li>
							<li><a href="localoffer.page?localofferchannel=0" title="Special Educational Needs &amp; Disabilities">Special Educational Needs &amp; Disabilities</a></li>
							<li><a href="newfamily.page?newfamilychannel=9" title="Schools &amp; Colleges">Schools &amp; Colleges</a></li>
							<li><a href="newfamily.page?newfamilychannel=10" title="Sport &amp; Recreation">Sport &amp; Recreation</a></li>
							</ul>
					</li>
				<li class="localoffer">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle" title="Categories">Special Educational Needs & Disabilities&nbsp;<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="localoffer.page?localofferchannel=0">Local Offer - Special Educational Needs and Disabilities</a></li>
							<li class="hidden-xs divider"></li>
							<li><a href="localoffer.page?localofferchannel=2" title="Being Active and Having Fun">Being Active and Having Fun</a></li>
							<li><a href="localoffer.page?localofferchannel=9" title="Designing local services">Designing local services</a></li>
							<li><a href="localoffer.page?localofferchannel=5" title="Early Years and Growing Up">Early Years and Growing Up</a></li>
							<li><a href="localoffer.page?localofferchannel=3" title="Education, schools and learning">Education, schools and learning</a></li>
							<li><a href="localoffer.page?localofferchannel=10" title="Family Support &amp; Social Care">Family Support &amp; Social Care</a></li>
							<li><a href="localoffer.page?localofferchannel=4" title="Getting around">Getting around</a></li>
							<li><a href="localoffer.page?localofferchannel=6" title="Health">Health</a></li>
							<li><a href="localoffer.page?localofferchannel=1" title="Information, Advice and Support">Information, Advice and Support</a></li>
							<li><a href="localoffer.page?localofferchannel=7" title="Personalisation, Choice &amp; Control">Personalisation, Choice &amp; Control</a></li>
							<li><a href="localoffer.page?localofferchannel=8" title="Planning your future">Planning your future</a></li>
							</ul>
					</li>
				<li ><a title="News" href="news.page">News</a></li>
				<li ><a title="A-Z List" href="a_to_z.page?titleletter=a">A-Z List</a></li>
				<li ><a title="Let us know" href="contact.page">Let us know</a></li>
				<li ><a title="Include your service" href="edit_service.page">Include your service</a></li>
				<li class="collapsed_menu_item" id="menu_shortlist"><a title="Shortlist" href="shortlist.page">Shortlist&nbsp;<span class="shortlist_count badge">0</span></a></li>
			</ul>
		</div>
		</div>
</nav><!-- Breadcrumb -->
					<!-- End Breadcrumb -->
					
					<!-- Content -->
					<div id="content"><div id="page_content">
	<div id="main_content">
		<div id="home-carousel" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner" role="listbox">
					<div class="item active">
								<img src="https://search3.openobjects.com/mediamanager/sefton/fsd/home_slider/speedboat_png/speedboat_display.png" alt="" title=""/><div class="carousel-caption"></div>
							</div>
						<div class="item ">
								<img src="https://search3.openobjects.com/mediamanager/sefton/fsd/home_slider/children-in-park_png/children-in-park_display.png" alt="" title=""/><div class="carousel-caption"></div>
							</div>
						<div class="item ">
								<img src="https://search3.openobjects.com/mediamanager/sefton/fsd/home_slider/family-fun-day-copy_png/family-fun-day-copy_display.png" alt="" title=""/><div class="carousel-caption"></div>
							</div>
						<div class="item ">
								<img src="https://search3.openobjects.com/mediamanager/sefton/fsd/home_slider/group-of-women_png/group-of-women_display.png" alt="" title=""/><div class="carousel-caption"></div>
							</div>
						<div class="item ">
								<img src="https://search3.openobjects.com/mediamanager/sefton/fsd/home_slider/horses-ainsdale-beach_png/horses-ainsdale-beach_display.png" alt="" title=""/><div class="carousel-caption"></div>
							</div>
						<div class="item ">
								<img src="https://search3.openobjects.com/mediamanager/sefton/fsd/home_slider/raft_png/raft_display.png" alt="" title=""/><div class="carousel-caption"></div>
							</div>
						<div class="item ">
								<img src="https://search3.openobjects.com/mediamanager/sefton/fsd/home_slider/sailing-at-clac_png/sailing-at-clac_display.png" alt="" title=""/><div class="carousel-caption"></div>
							</div>
						<div class="item ">
								<img src="https://search3.openobjects.com/mediamanager/sefton/fsd/home_slider/splash-world_png/splash-world_display.png" alt="" title=""/><div class="carousel-caption"></div>
							</div>
						<div class="item ">
								<img src="https://search3.openobjects.com/mediamanager/sefton/fsd/home_slider/tenpinbolwing1_png/tenpinbolwing1_display.png" alt="" title=""/><div class="carousel-caption"></div>
							</div>
						</div>
				<a class="left carousel-control" href="#home-carousel" role="button" data-slide="prev">
						<span class="fa fa-chevron-left icon-prev fa-lg" aria-hidden="true"></span><span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#home-carousel" role="button" data-slide="next">
						<span class="fa fa-chevron-right icon-next fa-lg" aria-hidden="true"></span><span class="sr-only">Next</span>
					</a>
				<h1>The Sefton Directory</h1>
				
			</div>
		<form class="navbar-form" role="search" id="search-navbar" novalidate action="results.page">
			<div class="form-group has-feedback">
				<label class="sr-only" for="navbarQT">Search for keywords</label>
				<input type="text" class="form-control" name="qt" id="navbarQT" placeholder="Search for keywords" size="25" value=""/>
			</div>
			<div class="form-group">
				<label class="sr-only" for="navbarTerm">In Location</label>
				<input type="text" class="form-control" name="term" id="navbarTerm" placeholder="In Location" size="25" value="" />
			</div>
			<div class="form-group">
				<button type="button" id="location_lookup_trigger" title="Use my current location"><i class="fa fa-crosshairs"></i> Use my current location</button>
			</div>
			<div class="form-group">
				<input type="hidden" name="sorttype" value="field"/>
				<button type="submit">Search</button>
			</div>
		</form>
		<div id="category-blocks">
			<div class="category-block">
						<section class="adultchannel">
							<a href="adult.page?adultchannel=0">
							<h2>Adult Services Directory</h2>
							</a>
						</section>
					</div>
				<div class="category-block">
						<section class="newfamilychannel">
							<a href="newfamily.page?newfamilychannel=0">
							<h2>Young People &amp; Families</h2>
							</a>
						</section>
					</div>
				<div class="category-block">
						<section class="localofferchannel">
							<a href="localoffer.page?localofferchannel=0">
							<h2>Local Offer - Special Educational Needs and Disabilities</h2>
							</a>
						</section>
					</div>
				</div>
	</div>
	</div></div>
					<a href="#" class="back-to-top" title="Link to the top of the page"><i class="fa fa-arrow-up">&nbsp;</i> top</a>
					<!-- End Content -->
					
					<!-- Footer -->
					<footer id="footer">
						<section id="social">
							<h2>Share this page</h2>
							<a data-dnt="true" data-count="none" data-size="small" class="twitter-image" href="https://twitter.com/share">Twitter</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
							<a onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 'facebook-share-dialog', 'width=626,height=436'); return false;" class="fb-image" href="#">Facebook</a>
							<div id="google_translate_element"></div>
							<script type="text/javascript">
								//<![CDATA[
								function googleTranslateElementInit() {
								  new google.translate.TranslateElement({
									pageLanguage: 'en',
									layout: google.translate.TranslateElement.InlineLayout.SIMPLE
								  }, 'google_translate_element');
								}
								//]]>
							</script>
							<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript"></script>
						</section>
						<section id="footer_contact">
							If you would like further help on finding information from The Sefton Directory please contact Sefton Council Contact Centre on <strong>0345 140 0845</strong>
						</section>
						<div class="row">
							<a target="_blank" href="http://www.seftoncvs.org.uk"><img class="pull-right" alt="Sefton CVS" src="assets/images/presence/CVS_Logo.jpg"></a>
						</div>
						<small class="oo-label"><a target="_blank" href="http://www.openobjects.com">Powered by Open Objects</a></small>
					</footer><!-- End Footer -->
				</div>
				<!-- JavaScript -->
				<script src="//search3.openobjects.com/cdn/jquery/1.11.3.min.js" type="text/javascript"></script>
<script src="//search3.openobjects.com/cdn/bootstrap/3.3.5/js/bootstrap.min.js" type="text/javascript"></script>
<script src="//search3.openobjects.com/cdn/formvalidation/0.6.3/js/formValidation.min.js" type="text/javascript"></script>
<script src="//search3.openobjects.com/cdn/formvalidation/0.6.3/js/framework/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/script.min.js" type="text/javascript"></script>
<script src="//apps.openobjects.com/authentication/v1/js/app.js" type="text/javascript"></script>
</body>
		</html>
	