<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>Home | Blackpool Family Information Service</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="description" content="Whether you are a parent, grandparent, carer, young person or even a practitioner it is not always easy to find the information you are looking for. The Family Information Service gives you&#8230;" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
<link href="css/customer.css" rel="stylesheet"  type="text/css" media="screen, projection" />
	<link href="css/jquery-ui-1.8.23.css" type="text/css" media="screen, projection" rel="stylesheet" />
<link href="css/customer-print.css" type="text/css" media="print" rel="stylesheet" />
<link id="textonly" href="css/customer-textonly.css"  rel="alternate" type="text/css" media="screen, projection" />


<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<![endif]-->

<!--[if lt IE 9]><link  href="css/customer-ie.css" type="text/css" media="screen, projection" rel="stylesheet" /><![endif]-->
<!--[if IE 6]>
  <link  href="css/customer-ie6.css" type="text/css" media="screen, projection" rel="stylesheet"/>
<![endif]-->
<!--[if IE 7]>
  <link  href="css/customer-ie7.css" type="text/css" media="screen, projection" rel="stylesheet"/>
<![endif]-->
<!--[if IE 8]>
  <link  href="css/customer-ie8.css" type="text/css" media="screen, projection" rel="stylesheet"/>
<![endif]-->

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-56473442-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script  data-main="//search3.openobjects.com/cdn/wf/WF2Dependencies" src="//search3.openobjects.com/cdn/require/2.1.9.min.js" type="text/javascript"></script>

<!-- Click4Assistance Embedded Chat Button Script -->

<script type="text/javascript">

var head = document.getElementsByTagName('head')[0];

var srcC4AW = document.createElement('script');

srcC4AW.type = 'text/javascript';

srcC4AW.charset = 'utf-8';

srcC4AW.id = 'srcC4AWidget';

srcC4AW.defer = true;

srcC4AW.async = true;

srcC4AW.src = 'https://prod3si.click4assistance.co.uk/JS/ChatWidget.js';

if (head) {head.appendChild(srcC4AW);}

function C4AWJSLoaded() {

oC4AW_Widget = new oC4AW_Widget();

oC4AW_Widget.setAccGUID("F6FC8B4F-DBED-4B92-BE66-41AFBDD360DF");

oC4AW_Widget.setWSGUID("7c98f479-b3d8-4ad8-be3c-1c71f8000f80");

oC4AW_Widget.setWFGUID("e8392ebc-521d-48fe-b16e-440447a32d86");

oC4AW_Widget.setPopupWindowWFGUID("728dac71-05ac-4ed7-892e-f26ae5fe75bc");

oC4AW_Widget.setDockPosition("BOTTOM");

oC4AW_Widget.setBtnStyle("position:fixed; border:none; bottom:0em; right:1em;");

oC4AW_Widget.setIdentity("Embedded Chat");

oC4AW_Widget.Initilize();

}

</script>

<!-- Click4Assistance Embedded Chat Button Script --></head>
	<body id="home" class="home_page">
	<div id="layout-wrapper" class="container">
				<div id="header" class="clearfix append-bottom">
					<div id="headerLinks" class="clearfix span-48">
						<div id="accessibility" class="left">	
							<ul>						
								<li><i class="icon-font"></i><a accesskey="5" class="textonlycontrol" href="#">Text Only</a>&nbsp;|</li>
								<li><i class="icon-question-sign"></i><a accesskey="h" href="help.page">Help</a></li>
							</ul>
						</div>
						<div id="myhub" class="right">
							<ul>								
								<li><i class="icon-signin"></i>&nbsp;<a href="sign_in.page">Sign In</a>&nbsp;|</li>
										<li><i class="icon-inbox"></i>&nbsp;<a href="register.page">Register</a></li>
									</ul>
						</div>
					</div>
					<div class="clear left span-39-last" id="title-holder">
						<h1><a href="home.page" title="Home page"><img src="images/customer/blackpool_logo.png" alt="Blackpool Council" /><span>Family Information Service</span></a></h1>
					</div>	
					<div class="right span-11" id="shortlist-badge">
						<a id="shortlist_link" class="btn btn-info right" href="shortlist.page"><span class="left"><i class="icon-list"></i>&nbsp;My Shortlist</span><span id="shortlist_count">0</span></a>
					</div>			
				</div>
				<div id="navigation" class="clearfix">
					<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
			<li><a class="homepage" href="home.page" title="Home">Home</a></li>
			<li><a class="localofferpage" href="localoffer.page" title="SEND Local Offer">SEND Local Offer</a></li>			
			<li><a class="betterstartpage" href="betterstart.page?betterstartchannel=0" title="Better Start">Better Start</a></li>
			<li>
						<a class="rubothered" href="ru_bothered.page">RU bothered?</a>
					</li>
			<li>
						<a class="attheoracle" href="at_the_oracle.page">@The Oracle</a>
					</li>
			<li>
						<a class="whatson" href="whats_on.page">What's On</a>
					</li>
			<li>
						<a class="news" href="news.page">News</a>
					</li>
			<li>
						<a class="about" href="about.page">About Us</a>
					</li>
			<li>
						<a class="contact" href="contact.page">Contact</a>
					</li>
			</ul>
	</div>
</div></div>
				
				<div id="searchForm" class="clearfix">
					<form action="results.page" class="form-inline" method="get">
	<label for="category"><strong>Search</strong></label>					

	<select name="familychannel" title="Search within a category" id="category">														
		<option  value="0">
				All Categories
			</option>
			<option  style="font-weight: bold;" value="8">
					Activities</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="8_1">
						-&nbsp;&nbsp;<strong>Clubs</strong>
					</option>
				<option  style="font-weight: bold;" value="1">
					Childcare</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="1_1">
						-&nbsp;&nbsp;<strong>Childminder</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="1_2">
						-&nbsp;&nbsp;<strong>Creche</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="1_3">
						-&nbsp;&nbsp;<strong>Day nursery</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="1_4">
						-&nbsp;&nbsp;<strong>Family (Support) Centre</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="1_5">
						-&nbsp;&nbsp;<strong>Holiday Playscheme</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="1_6">
						-&nbsp;&nbsp;<strong>Maintained Nursery Schools and Classes</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="1_7">
						-&nbsp;&nbsp;<strong>Out of School Care</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="1_8">
						-&nbsp;&nbsp;<strong>Parent & Toddler Group</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="1_9">
						-&nbsp;&nbsp;<strong>Pre-School Playgroup</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="1_10">
						-&nbsp;&nbsp;<strong>Teenage Mum & Toddler Groups</strong>
					</option>
				<option  style="font-weight: bold;" value="6">
					Children's Centres</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="6_1">
						-&nbsp;&nbsp;<strong>Baines</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="6_3">
						-&nbsp;&nbsp;<strong>Claremont</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="6_8">
						-&nbsp;&nbsp;<strong>Grange Park</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="6_4">
						-&nbsp;&nbsp;<strong>Kincraig</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="6_7">
						-&nbsp;&nbsp;<strong>Mereside</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="6_5">
						-&nbsp;&nbsp;<strong>Revoe</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="6_6">
						-&nbsp;&nbsp;<strong>St Cuthbert’s and Palatine</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="6_9">
						-&nbsp;&nbsp;<strong>Talbot & Brunswick</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="6_10">
						-&nbsp;&nbsp;<strong>Thames</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="6_11">
						-&nbsp;&nbsp;<strong>The Together Centre</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="6_2">
						-&nbsp;&nbsp;<strong>Unity College Blackpool</strong>
					</option>
				<option  style="font-weight: bold;" value="2">
					SEND Local Offer</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="2_4">
						-&nbsp;&nbsp;<strong>Education and Learning</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="2_8">
						-&nbsp;&nbsp;<strong>Health and Wellbeing</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="2_1">
						-&nbsp;&nbsp;<strong>Leisure and Activities</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="2_6">
						-&nbsp;&nbsp;<strong>Preparation for adulthood</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="2_12">
						-&nbsp;&nbsp;<strong>Social Care and Support</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="2_2">
						-&nbsp;&nbsp;<strong>Support for Parents, Families, Carers and Young People with SEND</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="2_7">
						-&nbsp;&nbsp;<strong>Transport</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="2_15">
						-&nbsp;&nbsp;<strong>Education Health and Care Plan (EHC Plan)</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="2_16">
						-&nbsp;&nbsp;<strong>Legislation, Guidance and Local Policies</strong>
					</option>
				<option  style="font-weight: bold;" value="5">
					Family Services</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="5_1">
						-&nbsp;&nbsp;<strong>Adoption and fostering</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="5_2">
						-&nbsp;&nbsp;<strong>Advice and support</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="5_6">
						-&nbsp;&nbsp;<strong>Ante Natal and Post Natal</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="5_3">
						-&nbsp;&nbsp;<strong>Carers support</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="5_9">
						-&nbsp;&nbsp;<strong>Charities</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="5_5">
						-&nbsp;&nbsp;<strong>Equality and Diversity</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="5_7">
						-&nbsp;&nbsp;<strong>Housing</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="5_8">
						-&nbsp;&nbsp;<strong>Legal issues</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="5_4">
						-&nbsp;&nbsp;<strong>Nannies and Au Pairs</strong>
					</option>
				<option  style="font-weight: bold;" value="4">
					Health and Wellbeing</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="4_1">
						-&nbsp;&nbsp;<strong>Advice and support</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="4_2">
						-&nbsp;&nbsp;<strong>Health clinics</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="4_6">
						-&nbsp;&nbsp;<strong>Hospitals</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="4_7">
						-&nbsp;&nbsp;<strong>Keeping Safe</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="4_9">
						-&nbsp;&nbsp;<strong>Mental Health</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="4_10">
						-&nbsp;&nbsp;<strong>Occupational Therapy</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="4_3">
						-&nbsp;&nbsp;<strong>Pregnancy support</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="4_4">
						-&nbsp;&nbsp;<strong>Sexual health</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="4_8">
						-&nbsp;&nbsp;<strong>Speech & Language</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="4_5">
						-&nbsp;&nbsp;<strong>Surgeries</strong>
					</option>
				<option  style="font-weight: bold;" value="3">
					Learning and Skills</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="3_9">
						-&nbsp;&nbsp;<strong>Adult and Community Learning</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="3_1">
						-&nbsp;&nbsp;<strong>Colleges and universities</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="3_2">
						-&nbsp;&nbsp;<strong>Courses and apprenticeships</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="3_3">
						-&nbsp;&nbsp;<strong>Employment and careers advice</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="3_4">
						-&nbsp;&nbsp;<strong>Independent Schools</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="3_10">
						-&nbsp;&nbsp;<strong>Online safety</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="3_5">
						-&nbsp;&nbsp;<strong>Primary schools</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="3_6">
						-&nbsp;&nbsp;<strong>Private tuition and home education</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="3_7">
						-&nbsp;&nbsp;<strong>Secondary schools</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="3_8">
						-&nbsp;&nbsp;<strong>Special Schools</strong>
					</option>
				<option  style="font-weight: bold;" value="7">
					Money and Welfare</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="7_1">
						-&nbsp;&nbsp;<strong>Advice and support</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="7_2">
						-&nbsp;&nbsp;<strong>Benefits and finance</strong>
					</option>
				<option  style="padding-left:15px; font-size: 0.9em;" value="7_3">
						-&nbsp;&nbsp;<strong>Help with Childcare costs</strong>
					</option>
				</select>

	<label for="qt">&nbsp;<strong>for</strong>&nbsp;</label>						
	<input type="text" id="qt" name="qt" placeholder="Keyword(s)" value="" title="Search for an activity, service or organisation"/>
	<label for="loc">&nbsp;<strong>in</strong>&nbsp;</label>
	<input type="text" id="loc" name="term"  placeholder="Location" value="" title="Search for a location using postcode, place name or postal outcode"/>
	<input type="hidden" id="sorttype" name="sorttype" value="" />
	&nbsp;<input type="submit" class="btn btn-primary" value="GO" title="Search the site" />					
	&nbsp;<input type="reset" class="btn btn-secondary" value="Clear" title="Clear these fields"/>							
</form></div>
				
				<div id="content" class="clearfix prepend-top append-bottom">
					<div class="span-48">
	<div class="site_resource well"><h4><b>Whether you are a parent, grandparent, carer, young person or even a practitioner it is not always easy to find the information you are looking for.</b></h4>
<h4>The Family Information Service gives you access to an online directory relating to all aspects of family life. Check out our new guide to What's On if you're looking for activities and events.</h4>
<h4>Browse our directory to find childcare and services local to Blackpool, plus lots of advice and guidance information.</h4>
<h4>Call us on 0800 092 2332 9.00am to 5.00pm Monday to Friday or email <a href="mailto:fis@blackpool.gov.uk"></a><a href="mailto:fis@blackpool.gov.uk">fis@blackpool.gov.uk</a></h4>
<h4><strong>&nbsp;</strong></h4></div>
</div>

<div id="categoryWrap" class="clear clearfix">
	<a class="btn btn-primary btn-large" id="familychannel_8" href="family.page?familychannel=8" title="Activities">Activities</a>
			<a class="btn btn-primary btn-large" id="familychannel_1" href="family.page?familychannel=1" title="Childcare">Childcare</a>
			<a class="btn btn-primary btn-large" id="familychannel_6" href="family.page?familychannel=6" title="Children&#039;s Centres">Children's Centres</a>
			<a class="btn btn-primary btn-large" id="familychannel_2" href="localoffer.page" title="SEND Local Offer">SEND Local Offer</a>
			<a class="btn btn-primary btn-large" id="familychannel_5" href="family.page?familychannel=5" title="Family Services">Family Services</a>
			<a class="btn btn-primary btn-large" id="familychannel_4" href="family.page?familychannel=4" title="Health and Wellbeing">Health and Wellbeing</a>
			<a class="btn btn-primary btn-large" id="familychannel_3" href="family.page?familychannel=3" title="Learning and Skills">Learning and Skills</a>
			<a class="btn btn-primary btn-large" id="familychannel_7" href="family.page?familychannel=7" title="Money and Welfare">Money and Welfare</a>
			<a class="btn btn-primary btn-large" id="betterstartchannel_0" href="betterstart.page?betterstartchannel=0" title="Better Start" data-content="Something new and exciting for birth to three year olds">Better Start</a>
	<a class="btn btn-primary btn-large" id="adult_service_directory" href="http://www.blackpool4me.com" title="The Adult Service Directory" target="_blank" data-content="Services for Adults">Services for Adults</a>
	<a class="btn btn-primary btn-large btn-bigtext" id="childcare42yo" href="http://www.blackpool.fsd.org.uk/kb5/blackpool/fsd/article.page?id=QoUXjgfNSc4" title=" Free Childcare For Two Year Olds" target="_blank" data-content="Services for Adults"> Free Childcare For Two Year Olds</a>
	<a class="btn btn-primary btn-large right" id="getting_it_right" href="site.page?id=sOUwgEc5TcU" title="Getting it Right" data-content="Getting it Right">Getting it Right</a>
</div>

<h3 class="left paler">Youth Area</h3>

<div class="span-48 clear left">
	<div class="paler left">
		<div class="third clearfix">
			<h4><a id="ru_bothered" href="ru_bothered.page?" title="RU bothered?">RU bothered?</a></h4>
		</div>
		<div class="third clearfix">
			<h4><a id="the_oracle" href="at_the_oracle.page" title="@ The Oracle">@ The Oracle</a></h4>
		</div>
	</div>

	<div class="third third-last clearfix">
		<h4><a id="activities" href="whats_on.page" title="What's On">What's On</a></h4>
	</div>
</div>

<div class="news-slider span-48">
		<div class="pane-content">
			<div class="content left">
				<strong class="left">Latest News: </strong>
				<div id="slider" class="slider2">
					<ul>
						<li>
										<a class="slider-link" href="article.page?id=kcBaA3qK794">Childcare Sufficiency Assessment 2015</a>
									</li>
								<li>
										<a class="slider-link" href="article.page?id=QoUXjgfNSc4">Two Year Old Leaflet and Online Application Form</a>
									</li>
								</ul>
				</div>
			</div>
		</div>
	</div>
</div>
				
				<div id="footer" class="clearfix append-bottom">
					<div class="clearfix prepend-top">
						<div id="footerLinks" class="span-40 left">
							<img class="wolb left" src="images/customer/were_on_live_blackpool.png"/>
							<ul class="right">
								<li><a href="site.page?id=u8-7QQnVmAw">Outreach</a></li>
								<li><a href="site.page?id=BXp8gK1Fr8g">Brokerage</a></li>
								
								</ul>
						</div>
						<div class="span-8-last">
							<a class="right" href="http://twitter.com/#!/Blackpoolfis" target="_blank"><img src="images/customer/twitter.png" /></a>
							<a class="right" href="https://www.facebook.com/profile.php?id=100001217108833" target="_blank"><img src="images/customer/facebook.png" /></a>
						</div>
					</div>
					</div>
			</div>
			<script type="text/javascript" src="js/jquery.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="js/jquery-ui-1.8.23.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="js/bootstrap.min.js" charset="utf-8"></script>
<script type="text/javascript" src="js/jquery.multiselect.min.js" charset="utf-8"></script>
<script type="text/javascript" src="js/jquery.multiselect.filter.min.js" charset="utf-8"></script>
<script type="text/javascript" src="js/jquery.cookie.js" charset="utf-8"></script>
<script type="text/javascript" src="js/jquery.masked.js" charset="utf-8"></script>
<script type="text/javascript" src="js/jquery.form.js" charset="utf-8"></script>
<script type="text/javascript" src="js/jquery.wireframeUtils.js" charset="utf-8"></script>
<script type="text/javascript" src="js/common.js" charset="utf-8"></script>
<script type="text/javascript" src="js/textOnly.js" charset="utf-8"></script>

<script type="text/javascript" src="/kb5/blackpool/fsd/js/slider.js" charset="utf-8"></script>
	<script type="text/javascript">
	//<![CDATA[
		$(document).ready(function(){
			$('#betterstartchannel_0').popover({
				trigger: 'hover',
				placement: 'top'
			});
			$("#slider").easySlider({auto: true,continuous: true,controlsShow:false});
		});
	//]]>
	</script>
  <script type="text/javascript">
	require(['AppLoader'],function(){ //You always need to require the AppLoader before you load an app
		App.load("Toolbar"); //will create the app in body
	});
</script></body>
	</html>
	