
<!DOCTYPE html>
<html lang="en" class="CMS">
	<head>
		<meta charset="utf-8"/>
        







		<title>Have your say - Buckinghamshire County Council</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="description" content="Have your say and help to shape the way we work for you."/>
        <meta name="keywords" content="consultation,surveys,feedback"/>
		<meta name="author" content=""/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		
        <!-- Metadata -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="pics-label" scheme="ICRA" content='(pics-1.1 "http://www.icra.org/ratingsv02.html" l gen true for "http://www.buckscc.gov.uk" r (cz 1 lz 1 nz 1 oz 1 vz 1) "http://www.rsac.org/ratingsv01.html" l gen true for "http://www.buckscc.gov.uk" r (n 0 s 0 v 0 l 0))' />
        
        <meta name="DC.coverage" scheme="TGN" content="Buckinghamshire" />
        <meta name="DC.creator" content="Buckinghamshire County Council" />
        <meta name="DC.date.created" scheme="W3CDTF" content="" />
        <meta name="DC.date.modified" scheme="W3CDTF" content="" />
        <meta name="DC.identifier" scheme="URI" content="" /> 
        <meta name="DC.language" scheme="ISO 639-2/T" content="eng" />
        <meta name="DC.publisher" content="Buckinghamshire County Council" />
        <meta name="DC.title" content="Have your say" /> 

        <meta name="eGMS.accessibility" scheme="WCAG" content="Double-A" />
        <!--<meta name="eGMS.subject.category" scheme="IPSV" content="Information and communication"/>-->
		


<meta name="eGMS.subject.category" scheme="IPSV" content="Information and communication"/>



		<!-- Le styles -->
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/new.css?ver=27211" rel="stylesheet">
		<link href="/css/jquery.plugins.css" rel="stylesheet" />
		<link href="/css/jquery-ui.css" rel="stylesheet" />
		<!--<link href="/css/gallery.css" rel="stylesheet" />-->
        	<link href="/css/responsive-tables.css" rel="stylesheet" />
		<link href="/css/jquery.smartsuggest.css" rel="stylesheet" />
		<link href="/css/jquery.mmenu.all.css" rel="stylesheet" />
		<link href="/css/captionjs.css" rel="stylesheet" />
		<!-- map -->
 		<link rel="stylesheet" type="text/css" href="http://serverapi.arcgisonline.com/jsapi/arcgis/2.4/js/dojo/dijit/themes/tundra/tundra.css" />

		<!--[if lt IE 8]>
		<link rel="stylesheet" href="/css/tweaks-IE7.css" />
		<![endif]-->
		
		<!--[if lt IE 9]>
		<link rel="stylesheet" href="/css/tweaks-IE8.css" />
		<![endif]-->

        <!-- Defer loading of JavaScript -->
        <!--
        <script type="text/javascript">

            // Add a script element as a child of the body
            function downloadJSAtOnload() {

                var arrJSResources = new Array( "http://serverapi.arcgisonline.com/jsapi/arcgis/?v=2.4",
                                                "/scripts/js/jquery-ui-1.8.11.min.js",
                                                "/scripts/js/jquery.validate.min.js",
                                                "/scripts/js/jquery.validate.unobtrusive.min.js",
                                                /*"/scripts/js/jquery.plugins.js",*/
                                                "/scripts/js/jquery.smartsuggest.js",                                                
                                                "/scripts/js/script.js",
                                                "/scripts/gallery.js",
                                                "/scripts/js/responsive-tables.js");

                for (i=0; i<arrJSResources.length; i++) {
                    var element = document.createElement("script");
                    element.src = arrJSResources[i];
                    document.body.appendChild(element);
                }
                
            }

            // Check for browser support of event handling capability
            if (window.addEventListener)
                window.addEventListener("load", downloadJSAtOnload, false);
            else if (window.attachEvent)
                window.attachEvent("onload", downloadJSAtOnload);
            else window.onload = downloadJSAtOnload;

        </script>
        -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/scripts/js/jquery-1.11.0.min.js"><\/script>')</script>
		<script src="/scripts/js/libs/respond.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>		
	
		<!-- Map -->
		<script type="text/javascript" src="http://serverapi.arcgisonline.com/jsapi/arcgis/?v=2.4"></script>

        <!-- Contour ui
		<script src="/scripts/js/jquery-ui-1.8.11.min.js"></script> -->  
		<script src="/scripts/js/jquery.validate.min.js" type="text/javascript"></script>    
		<script src="/scripts/js/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
		
		<!-- Fav and touch icons -->
        <!--
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
		<link rel="shortcut icon" href="../assets/ico/favicon.png">
        -->
        <link type="image/x-icon" href="/img/bcc.ico" rel="shortcut icon" />

	</head>

	<body>
<div id="page">
	<div class="mheader Fixed">
		<a href="#menu">Menu</a>
	</div>
<div class="content">
<div id="mcontent">
		
        <div style="top:-1000px;position:absolute;">
	        | <a href="/" onfocus="window.status='Home'; return true;" onblur="window.status='';return true;" accesskey="1">Home</a>
            | <a href="/news" onfocus="window.status='Latest news'; return true;" onblur="window.status='';return true;" accesskey="2">Latest news</a>
            | <a href="/about-your-council/contact-us/site-map/" onfocus="window.status='Site Map'; return true;" onblur="window.status='';return true;" accesskey="3">Site Map</a>
            | <a href="/search" onfocus="window.status='Search'; return true;" onblur="window.status='';return true;" accesskey="4">Search</a>
            | <a href="/about-your-council/contact-us/accessibility/" onfocus="window.status='FAQ'; return true;" onblur="window.status='';return true;" accesskey="5">FAQ</a>
            | <a href="/about-your-council/contact-us/accessibility/" onfocus="window.status='Website accessibility'; return true;" onblur="window.status='';return true;" accesskey="6">Website accessibility</a>
            | <a href="/about-your-council/contact-us/feedback-and-complaints/" onfocus="window.status='Customer complaints'; return true;" onblur="window.status='';return true;" accesskey="7">Customer complaints</a>
            | <a href="/about-your-council/contact-us/copyright/" onfocus="window.status='Terms and Conditions'; return true;" onblur="window.status='';return true;" accesskey="8">Terms and Conditions</a>
            | <a href="/about-your-council/contact-us/feedback-and-complaints/feedback-and-complaints-form/" onfocus="window.status='Website Feedback Form'; return true;" onblur="window.status='';return true;" accesskey="9">Website Feedback Form</a>
            | <a href="/about-your-council/contact-us/accessibility/" onfocus="window.status='Access Keys'; return true;" onblur="window.status='';return true;" accesskey="0">Access Keys</a>
            |</div>
	<a href="#content" name="SkipNav" accesskey="S" onfocus="window.status='Skip Nav';return true;" style="top:-1000px;position:absolute;" onblur="window.status='';">Skip to content</a>	
		

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
            <div class="navbar-bg"></div>
			<div class="container">
			    <div class="logo"><a style="display: block; height: 86px;" href="/"></a></div>
			    <div class="logo-title"><a href="/"><img src="/img/logo_title.png" title="Bucks CC Logo - Click to go to homepage" alt="Bucks CC Logo - Click to go to homepage"/></a></div>
			    <div class="hills"></div>
			    <div class="main-search"><form name="search" method="get" action="/search/" id="header-search">
	<span class="input_search">
		<label for="q" class="visuallyhidden">Enter a search term</label>
		<input class="search_box" type="text" placeholder="Search..." name="q" id="q" value="">
		<button class="btn_main_search" type="submit">Go</button>
	</span>
</form></div><!--main-search-->
			</div>
		</div><!--navbar-inner-->
	</div><!--navbar-->
	<div class="nav-bg">
		<div class="mobileNavigation">
            <a class="list" href="#"></a>
            <form id="mobile-search" action="/search/"><label for="mobile-q" class="visuallyhidden">Search term</label><input name="q" type="search" id="mobile-q" /><input type="submit" value="Search" class="visuallyhidden" /></form>
			
		</div>
		<div class="container">
			<div class="nav-primary clearfix">
				
	







<ul id="megamenu-topnav">
	
	<li class="nav-row" >
	<a class="nav-primary-link" href="/" >Residents</a>
<div class="nav-primary-sub"><div class="nav-primary-sub-inner clearfix"><div class="nav-primary-sub-links"><ul>						<li class="section"><a href="/community/" target="">Community</a></li>
								<li><a href="/community/births,-deaths,-marriages-and-civil-partnerships/" target="">Births, deaths, marriages and civil partnerships</a></li>
								<li><a href="/community/local-areas/" target="">Local areas</a></li>
						<li class="section"><a href="http://www.healthandwellbeingbucks.org/" target="_blank">Health and Wellbeing</a></li>
								<li><a href="/healthy-living/buckinghamshire-health-and-wellbeing-board/" target="">Buckinghamshire Health and Wellbeing Board</a></li>
								<li><a href="/community/knowing-bucks/joint-strategic-needs-assessment/" target="">Joint Strategic Needs Assessment</a></li>
						<li class="section"><a href="/transport/" target="">Transport</a></li>
								<li><a href="http://www.buckscc.gov.uk/transport/buses-and-trains" target="">Buses &amp; trains</a></li>
								<li><a href="http://transportforbucks.net/report-it-prow.aspx" target="">Report a Right of Way</a></li>
								<li><a href="http://www.transportforbucks.net/Winter-maintenance.aspx" target="">Winter maintenance</a></li>
</ul><ul>						<li class="section"><a href="/education/" target="">Education</a></li>
								<li><a href="http://www.adultlearningbcc.ac.uk/" target="">Adult learning</a></li>
								<li><a href="http://www.bucksfamilyinfo.org/kb5/buckinghamshire/fsd/home.page" target="">Family Information Service</a></li>
								<li><a href="/education/early-years-and-childcare/" target="">Early Years and childcare</a></li>
								<li><a href="/education/education-support/" target="">Education support</a></li>
								<li><a href="/education/schools/" target="">Schools</a></li>
						<li class="section"><a href="/leisure-and-culture/" target="">Leisure and culture</a></li>
								<li><a href="http://www.buckscountymuseum.org/museum/" target="_blank">Bucks County Museum</a></li>
								<li><a href="/leisure-and-culture/centre-for-buckinghamshire-studies/" target="">Centre for Buckinghamshire Studies</a></li>
								<li><a href="/leisure-and-culture/country-parks/" target="">Country parks</a></li>
								<li><a href="/leisure-and-culture/libraries/" target="">Libraries</a></li>
</ul><ul class="last">						<li class="section"><a href="/environment/" target="">Environment</a></li>
								<li><a href="/environment/planning/" target="">Planning</a></li>
								<li><a href="/environment/rights-of-way/" target="">Rights of way</a></li>
								<li><a href="/environment/sustainability/" target="">Sustainability</a></li>
								<li><a href="/environment/waste,-recycling-and-treatment/" target="">Waste, recycling and treatment</a></li>
						<li class="section"><a href="/social-care/" target="">Social care</a></li>
								<li><a href="/social-care/children-and-families/adoption/" target="">Adoption</a></li>
								<li><a href="/social-care/care-for-adults/" target="">Care and advice for adults</a></li>
								<li><a href="/social-care/children-and-families/" target="">Children and families</a></li>
								<li><a href="/social-care/children-and-families/child-protection-and-safeguarding/" target="">Child protection and Safeguarding</a></li>
								<li><a href="/social-care/children-and-families/fostering/" target="">Fostering</a></li>
						<li class="section"><a href="/atoz/" target="">A - Z Services</a></li>
</ul></div></div></div>	</li>
	<li class="nav-row" >
	<a class="nav-primary-link" href="/business/" >Business</a>
<div class="nav-primary-sub"><div class="nav-primary-sub-inner clearfix"><div class="nav-primary-sub-links"><ul>						<li class="section"><a href="http://www.bbf.uk.com/" target="">Buckinghamshire Business First</a></li>
								<li><a href="http://www.bbf.uk.com/business-directory" target="">Business directory</a></li>
								<li><a href="http://www.bbf.uk.com/business-hubs" target="">Business hubs</a></li>
								<li><a href="http://www.bbf.uk.com/land-and-property-search" target="">Vacant land &amp; property database</a></li>
						<li class="section"><a href="https://apps2.buckscc.gov.uk/ecommerce/Default.aspx?shop=Licences" target="">Licences</a></li>
</ul><ul>						<li class="section"><a href="/business/business-information/" target="">Business information</a></li>
						<li class="section"><a href="/business/selling-to-the-council/" target="">Selling to the council</a></li>
								<li><a href="/business/selling-to-the-council/getting-started/" target="">Getting started</a></li>
								<li><a href="/business/selling-to-the-council/prime-contractors/" target="">Prime contractors</a></li>
						<li class="section"><a href="/environment/sustainability/" target="">Sustainability</a></li>
</ul><ul class="last">						<li class="section"><a href="http://www.adultlearningbcc.ac.uk/Page.aspx?pageid=61&amp;SelL1Id=69&amp;SelL2Id=70&amp;SelL3Id=0" target="">Business training and work skills</a></li>
						<li class="section"><a href="/business/trading-standards-1/" target="">Trading standards</a></li>
								<li><a href="#" target=""></a></li>
						<li class="section"><a href="/atoz/" target="">A - Z Services</a></li>
</ul></div></div></div>	</li>
	<li class="nav-row" >
	<a class="nav-primary-link" href="/about-your-council/" >About your Council</a>
<div class="nav-primary-sub"><div class="nav-primary-sub-inner clearfix"><div class="nav-primary-sub-links"><ul>						<li class="section"><a href="http://democracy.buckscc.gov.uk/uuCoverPage.aspx?bcr=1" target="">Councillors, meetings and decisions</a></li>
								<li><a href="http://democracy.buckscc.gov.uk/mgListCommittees.asp?bcr=1" target="">Committees</a></li>
								<li><a href="http://democracy.buckscc.gov.uk/mgMemberIndex.aspx?bcr=1" target="">Find your councillor</a></li>
						<li class="section"><a href="/about-your-council/have-your-say/" target="">Have your say</a></li>
								<li><a href="http://democracy.buckscc.gov.uk/mgepetitionlistdisplay.aspx?VM=2&amp;bcr=1" target="">ePetitions</a></li>
						<li class="section"><a href="/about-your-council/our-plans/" target="">Our plans</a></li>
</ul><ul>						<li class="section"><a href="http://jobs.buckscc.gov.uk" target="">Jobs &amp; Careers</a></li>
								<li><a href="http://jobs.buckscc.gov.uk/job-search/" target="">Job search</a></li>
								<li><a href="http://jobs.buckscc.gov.uk/teams/childrens-social-care/" target="">Children&#39;s Social Care jobs</a></li>
						<li class="section"><a href="/about-your-council/open-data/" target="">Open data</a></li>
								<li><a href="/about-your-council/open-data/data-protection/" target="">Data Protection</a></li>
								<li><a href="/about-your-council/open-data/freedom-of-information/" target="">Freedom of Information</a></li>
</ul><ul class="last">						<li class="section"><a href="/about-your-council/finance/" target="">Finance</a></li>
								<li><a href="/about-your-council/finance/accounts/" target="">Accounts</a></li>
								<li><a href="/about-your-council/finance/budget/" target="">Budget</a></li>
								<li><a href="/about-your-council/finance/council-tax/" target="">Council Tax</a></li>
</ul></div></div></div>	</li>
	<li class="nav-row" >
	<a class="nav-primary-link" href="/your-buckinghamshire/" >Your Buckinghamshire</a>
	</li>
	<li class="nav-row" >
	<a class="nav-primary-link" href="/about-your-council/do-it-online/" >Do it online</a>
<div class="nav-primary-sub"><div class="nav-primary-sub-inner clearfix"><div class="nav-primary-sub-links"><ul>						<li class="section"><a href="/about-your-council/do-it-online/apply-for-it/" target="">Apply</a></li>
								<li><a href="/education/schools/admissions-and-moving-school/" target="">Admissions and moving school</a></li>
								<li><a href="/social-care/disabled-persons-car-badges/" target="">Apply for a blue badge</a></li>
								<li><a href="/environment/waste,-recycling-and-treatment/household-waste-and-recycling-centres/waste-permit-scheme/" target="">Waste permit scheme</a></li>
						<li class="section"><a href="/about-your-council/do-it-online/pay-an-invoice/" target="">Pay an invoice</a></li>
								<li><a href="https://parkingservices.nsl.co.uk/bucks/Notices/default.asp" target="">Parking PCN</a></li>
								<li><a href="https://buckinghamshire.spydus.co.uk/cgi-bin/spydus.exe/MSGTRN/OPAC/LOGINB?HOMEPRMS=LOGINPARAMS" target="">Pay library charges</a></li>
						<li class="section"><a href="http://transportforbucks.net/track-it.aspx" target="">Track transport issues</a></li>
								<li><a href="https://account.buckscc.gov.uk/authapi/auth?provider=ssauth&amp;uri=https://account.buckscc.gov.uk&amp;lang=en" target="">Login to MyAccount</a></li>
</ul><ul>						<li class="section"><a href="/about-your-council/do-it-online/buy-online/" target="">Buy online</a></li>
								<li><a href="https://apps2.buckscc.gov.uk/ecommerce/Process/Action/Dispatch.aspx?NavGraph=TransportNavGraph" target="_blank">Pay for a school bus pass</a></li>
								<li><a href="https://apps2.buckscc.gov.uk/ecommerce/default.aspx?shop=Country+parks+permit" target="">Country parks parking permits</a></li>
								<li><a href="https://apps2.buckscc.gov.uk/ecommerce/Default.aspx?shop=Licences" target="">Licences</a></li>
						<li class="section"><a href="https://buckinghamshire.spydus.co.uk/cgi-bin/spydus.exe/MSGTRN/OPAC/LOGINB" target="">Renew</a></li>
								<li><a href="https://buckinghamshire.spydus.co.uk/cgi-bin/spydus.exe/MSGTRN/OPAC/LOGINB" target="">Renew your library loans</a></li>
								<li><a href="/community/births,-deaths,-marriages-and-civil-partnerships/renewal-and-commitment-ceremonies/" target="">Renewal and commitment ceremonies</a></li>
</ul><ul class="last">						<li class="section"><a href="/about-your-council/do-it-online/report-it/" target="">Report it</a></li>
								<li><a href="#" target=""></a></li>
								<li><a href="/environment/waste,-recycling-and-treatment/fly-tipping/report-fly-tipping/" target="">Report fly-tipping</a></li>
								<li><a href="http://transportforbucks.net/report-it-prow.aspx" target="">Report a Right of Way</a></li>
						<li class="section"><a href="/about-your-council/do-it-online/book/" target="">Book</a></li>
								<li><a href="http://www.buckscc.gov.uk/events/?g=14203" target="">Country park events</a></li>
								<li><a href="https://s5.sishost.co.uk//BK/Agenda/OnlineBookingsPublic" target="">Book an appointment with a Registrar</a></li>
</ul></div></div></div>	</li>
	<li class="nav-row" >
	<a class="nav-primary-link" href="/about-your-council/contact-us/" >Contact us</a>
<div class="nav-primary-sub"><div class="nav-primary-sub-inner clearfix"><div class="nav-primary-sub-links"><ul>						<li class="section"><a href="/about-your-council/contact-us/" target="">Contact us</a></li>
								<li><a href="/about-your-council/contact-us/email-addresses/" target="">Email addresses</a></li>
								<li><a href="/about-your-council/contact-us/telephone-numbers/" target="">Telephone numbers</a></li>
								<li><a href="/about-your-council/contact-us/offices/" target="">Offices</a></li>
								<li><a href="/about-your-council/contact-us/follow-us/" target="">Follow us</a></li>
</ul><ul>						<li class="section"><a href="http://democracy.buckscc.gov.uk/mgMemberIndex.aspx?bcr=1" target="">Find your councillor</a></li>
								<li><a href="/about-your-council/contact-us/feedback-and-complaints/complain-about-a-councillor/" target="">Complain about a councillor</a></li>
						<li class="section"><a href="/about-your-council/contact-us/media-centre/" target="">Media centre</a></li>
</ul><ul class="last">						<li class="section"><a href="/about-your-council/contact-us/information-in-other-languages/" target="">Information in other languages</a></li>
						<li class="section"><a href="/about-your-council/contact-us/services-for-deaf-or-hard-of-hearing/" target="">Services for deaf or hard of hearing</a></li>
</ul></div></div></div>	</li>
</ul>
			</div>	<!--nav-primary-->
		</div><!--container-->
	</div><!--nav-bg-->
	


		
		
		
<div class="container-wrap">
	
	<iframe src="/ad-banner.htm" id="ad-banner" frameborder="0" align="middle" scrolling="no">
	</iframe>
		
	
	
	



<div class="container">
	<div class="breadcrumb clearfix">
		<p class="context">You are here:</p>
		<ul>
		<li>
            <a href="http://www.buckscc.gov.uk/">
                    Home
            </a>
        </li>
		<li>
            <a href="http://www.buckscc.gov.uk/about-your-council/">
About your council            </a>
        </li>
		<li class="current">Have your say</li>
		</ul>
	</div>
</div>
<div class="breadcrumb-hr"></div>
<h2 class="page">Have your say</h2>
<div class="nav-secondary-mobile">

	<link href="/css/jquery.selectbox.css" type="text/css" rel="stylesheet" />
    <label for="sub-nav-mobile" class="visuallyhidden">Select destination</label>
	<select name="sub-nav-mobile" id="sub-nav-mobile">
        <option value="">More pages</option>
                <option value="http://www.buckscc.gov.uk/about-your-council/be-a-councillor/">Be a Councillor</option>
                <option value="http://www.buckscc.gov.uk/about-your-council/community-cohesion-and-equalities/">Community cohesion and equalities</option>
                <option value="http://www.buckscc.gov.uk/about-your-council/contact-us/">Contact us</option>
                <option value="http://www.buckscc.gov.uk/about-your-council/council-structure/">Council structure</option>
                <option value="http://www.buckscc.gov.uk/about-your-council/do-it-online/">Do it online</option>
                <option value="http://www.buckscc.gov.uk/about-your-council/finance/">Finance</option>
                <optgroup label="Have your say" />
                    <option value="http://democracy.buckscc.gov.uk/mgConsultationListDisplay.aspx?h=1">Previous consultations</option>
                    <option value="http://democracy.buckscc.gov.uk/mgconsultationlistdisplay.aspx?bcr=1">Current consultations</option>
                <option value="http://www.buckscc.gov.uk/about-your-council/land-and-property/">Land and property</option>
                <option value="http://www.buckscc.gov.uk/about-your-council/legal-services/">Legal Services</option>
                <option value="http://www.buckscc.gov.uk/about-your-council/local-government-pension-fund/">Pensions</option>
                <option value="http://www.buckscc.gov.uk/about-your-council/open-data/">Open data</option>
                <option value="http://www.buckscc.gov.uk/about-your-council/our-plans/">Our plans</option>
                <option value="http://www.buckscc.gov.uk/about-your-council/scrutiny/">Scrutiny</option>
    </select>
	<script type="text/javascript" src="/scripts/js/jquery.selectbox-0.2.js"></script>
	<script type="text/javascript">
	    $(function () {
	        $("#sub-nav-mobile").selectbox({
	            onChange: function (val, inst) {
	                document.location.href = val;
	            }
	        });
	    });
	</script>
</div>


		
	
		<!-- Insert default "cp_precontent" markup here -->
	
	
    <a name="content"></a>
	

	<div class="container">
		<div class="content-wrap">
			
				






<div class="nav-secondary left">
	<h3><a href="/about-your-council/">About your council</a></h3>
    <ul>
        
                <li class="parent level-3 active"><span class="current-page">Have your say</span></li>

                    <li class="child level-4"><a href="http://democracy.buckscc.gov.uk/mgConsultationListDisplay.aspx?h=1" target="">Previous consultations</a></li>
            <li class="child level-4"><a href="http://democracy.buckscc.gov.uk/mgconsultationlistdisplay.aspx?bcr=1" target="">Current consultations</a></li>

    </ul>
    
</div>

			
			<form method="post" action="/about-your-council/have-your-say/" id="ctl01">
<div class="aspNetHidden">
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUENTM4MQ9kFgJmD2QWAmYPZBYCZg9kFgJmD2QWAgIXD2QWAgIFEGRkFgICBg9kFgJmD2QWAmYPFgIeB1Zpc2libGVoZGRewiL9EVmPp32FweWIBSQiMkOlh5oqlv6xzHb3Yok2lA==" />
</div>


<script src="/ScriptResource.axd?d=ZlbmfHdUKiKePLY5rKHnE_617NrJRogrk_M_CWgV9GjK2OcI5Wt0kOKlOBVvRP19hb8zgwPkgpcswND0H-wt24kmZjlnwVG-sInm4sPn_HsZ4lqN8WlKKojOch0smkK29lgdX-nuBmZC7EN8-Zvw9donQlvSa3cc8B4w1Ekb5ss1&amp;t=ffffffff940d030f" type="text/javascript"></script>
                
			<div class="sec-content left">
				
					<h1>Have your say</h1>
					<div class="rte"><p>We want to ensure you have the opportunity to express your views, participate in making decisions and are more involved in monitoring those services.</p>
<p>The information that you provide will only be used to report results and no individual will be personally identified within the results, therefore we are unable to respond to issues raised by individuals. </p>
<p>You can also <a href="mailto:research@buckscc.gov.uk">sign up to our residents panel</a> to be sent information on consultations or to take part in focus group meetings. </p>
<h2><a href="http://democracy.buckscc.gov.uk/mgconsultationlistdisplay.aspx?bcr=1" title="Current consultations"><img width="180"  height="116" src="/media/1726746/current_180x116.jpg" alt="Current" class="pull-left"/></a>Current consultations</h2>
<p>Find out what consultations and proposals are currently available to comment on. <br /><a href="http://democracy.buckscc.gov.uk/mgconsultationlistdisplay.aspx?bcr=1" title="Current consultations">View consultations</a> <br /><br /></p>
<h2><a href="http://democracy.buckscc.gov.uk/mgConsultationListDisplay.aspx?h=1" title="Previous consultations"><img width="180"  height="116" src="/media/1726024/previous_180x116.jpg" alt="Previous" class="pull-left"/></a>Previous consultations</h2>
<p>View recent closed consultations and proposals.<br /><a href="http://democracy.buckscc.gov.uk/mgConsultationListDisplay.aspx?h=1" title="Previous consultations">View previous consultations</a></p>
<p> </p></div>
					
					


					<div class="add-this">
	<!-- AddThis Button BEGIN -->
	<div class="addthis_toolbox addthis_default_style">
	<a class="addthis_button_preferred_1"></a>
	<a class="addthis_button_preferred_2"></a>
	<a class="addthis_button_preferred_3"></a>
	<a class="addthis_button_preferred_4"></a>
	<a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
	</div>
    <script type="text/javascript">var addthis_config = { "data_track_addressbar": false };</script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f86ea017f35b0c7&async=1"></script>
	<!-- AddThis Button END -->
</div>
					<p>
    <a data-toggle="modal" href="/modal/TellUs.aspx?n=4424&t=Content" class="" data-target="#modal2">Is there anything wrong with this page?</a>
</p>
					








					







				
			</div><!--sec-content-->
			<div class="related-content left">
				              
















    <div class="related-pages clearfix">
		    <h3>Feedback and complaints</h3>

	<p>We want to hear what you think about our services. What you say is important and will help us improve our services.</p>
<p><a href="http://www.buckscc.gov.uk/about-your-council/contact-us/feedback-and-complaints/feedback-and-complaints-form/">Feedback and complaints form</a></p>
<p> </p>
			<ul class="more-links">
			</ul>
	</div>
    <div class="related-pages clearfix">
		    <h3>Be a volunteer</h3>

	<p>Want to get involved? We're always looking for people who can spare a little time to help others. </p>
<p>Volunteering is fun and a great way to meet new people.</p>
<p><a href="/community/helping-your-community/volunteering/" title="Volunteering">Volunteering opportunities</a></p>
			<ul class="more-links">
			</ul>
	</div>
    <div class="related-pages clearfix">
		    <h3>Speaking up for residents</h3>

	<p><img width="70" height="70" src="/media/1976668/1690_13e-Bucks-CC-Speaking-Up-icon-5mm-.png" alt="1690 13E Bucks CC Speaking Up Icon 5Mm " style="float: left;"/>We lobbied Government on HS2, money for roads and better flood planning.</p>
<p><a href="/about-your-council/our-plans/progress/" title="Progress">More ways we deliver on our priorities</a></p>
<p><a href="http://www.bucksccbrochures.co.uk/strategic_plan/" title="Strategic plan">View our 4-year plan</a></p>
			<ul class="more-links">
			</ul>
	</div>







				<script>
        $(function () {

        function autoScroll() {
          var itemHeight = $('#tw p').outerHeight();
          /* calculte how much to move the scroller */
          var moveFactor = parseInt($('#tw').css('top')) + itemHeight;
          /* animate the carousel */
          $('#tw').animate({
          'top': moveFactor
          }, 'slow', 'linear', function () {
          /* put the last item before the first item */
          $("#tw p:first").before($("#tw p:last"));
          /* reset top position */
          $('#tw').css({ 'top': (itemHeight - (itemHeight*2)) });
        });
        };

        var homeScroll = setInterval(autoScroll, 6000); });
      </script>
						
			</div><!--related-content-->
			</form>
	    </div><!--content-wrap-->
	    <div class="clearfix"></div>
	</div> <!-- /container -->	


			
	
		<!-- Insert default "cp_postcontent" markup here -->
	
			
	
		<div class="footer">
			<div class="container">
				<div class="AZ-services clearfix">
					<h5 class="left"><a href="/atoz/">A - Z Services</a></h5>
					<ul class="right">
						<li><a href="/AtoZ/A">A</a></li><li><a href="/AtoZ/B">B</a></li><li><a href="/AtoZ/C">C</a></li><li><a href="/AtoZ/D">D</a></li><li><a href="/AtoZ/E">E</a></li><li><a href="/AtoZ/F">F</a></li><li><a href="/AtoZ/G">G</a></li><li><a href="/AtoZ/H">H</a></li><li><a href="/AtoZ/I">I</a></li><li><a href="/AtoZ/J">J</a></li><li><a href="/AtoZ/K">K</a></li><li><a href="/AtoZ/L">L</a></li><li><a href="/AtoZ/M">M</a></li><li><a href="/AtoZ/N">N</a></li><li><a href="/AtoZ/O">O</a></li><li><a href="/AtoZ/P">P</a></li><li><a href="/AtoZ/Q">Q</a></li><li><a href="/AtoZ/R">R</a></li><li><a href="/AtoZ/S">S</a></li><li><a href="/AtoZ/T">T</a></li><li><a href="/AtoZ/U">U</a></li><li><a href="/AtoZ/V">V</a></li><li><a href="/AtoZ/W">W</a></li><li><a>X</a></li><li><a href="/AtoZ/Y">Y</a></li><li><a>Z</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
				<div class="footer-container">
					<div class="links">
						<a href="/about-your-council/contact-us/">Contact Us</a>  |   <a href="/about-your-council/contact-us/accessibility/">Accessibility</a>  |   <a href="/about-your-council/contact-us/site-map/">Site map</a>  |   <a href="/about-your-council/contact-us/cookies/">Cookies</a>   |   <a href="/about-your-council/contact-us/privacy-policy/">Privacy</a>   
					</div>
					<div class="footer-wrap clearfix">
						<div class="footer-link">
							<div class="social-box ">
								<a href="/about-your-council/contact-us/follow-us/"><img src="/img/footer_facebook.png" alt="Facebook" title="" height="32" width="32"/></a>
								<a href="/about-your-council/contact-us/follow-us/"><img src="/img/footer_twitter.png" alt="Twitter" title="" height="32" width="32"/></a>
								<a href="http://www.youtube.com/buckinghamshirecc"><img src="/img/footer_youtube.png" alt="Youtube" title="" height="32" width="32"/></a>
							</div>
							<div class="footer-logo left mobilefooterlogo">
								<img src="/img/bucks_cc_footer_logo_mobile.png" alt="" title="" />
							</div>
						</div><!--footer-link-->
						<div class="footer-logo right browserlogo">
							<img src="/img/bucks_cc_footer_logo.png" alt="" title="" height="56" width="209"/>
							
						</div>
					</div>
				</div><!--footer-container-->	
			</div> <!-- /container -->
		</div><!--footer-->	
	
	
		


	
</div><!--container-wrap-->
		
		<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Report inappropriate content</h3>
		  </div>
		  <div class="modal-body">
			
		  </div>
		  <div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		  </div>
		</div>
		<div id="modal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Is there anything wrong with this page?</h3>
		  </div>
		  <div class="modal-body">
			
		  </div>
		  <div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		  </div>
		</div>	

        <div class="modal fade" id="modalimageviewer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="H1"></h4>
              </div>
              <div class="modal-body">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->        	

	</div>
</div>
</div>
</div>
</div>

<nav id="menu">
	<ul>
	<form name="search" method="get" action="/search/" id="header-search">
	<span class="input_search">
	<label for="q" class="visuallyhidden">Enter a search term</label>
	<input class="search_box" type="text" placeholder="Search..." name="q" id="q" value="">
	<button class="btn_main_search" type="submit">Go</button>
	
	</span>
	</form>
	
	







	
	<li >
	<a class="nav-primary-link" href="/" >Residents</a>
<ul>					<li class="section"><a href="/community/" target="">Community</a></li>
								<li><a href="/community/births,-deaths,-marriages-and-civil-partnerships/" target="">Births, deaths, marriages and civil partnerships</a></li>
								<li><a href="/community/local-areas/" target="">Local areas</a></li>
					<li class="section"><a href="http://www.healthandwellbeingbucks.org/" target="_blank">Health and Wellbeing</a></li>
								<li><a href="/healthy-living/buckinghamshire-health-and-wellbeing-board/" target="">Buckinghamshire Health and Wellbeing Board</a></li>
								<li><a href="/community/knowing-bucks/joint-strategic-needs-assessment/" target="">Joint Strategic Needs Assessment</a></li>
					<li class="section"><a href="/transport/" target="">Transport</a></li>
								<li><a href="http://www.buckscc.gov.uk/transport/buses-and-trains" target="">Buses &amp; trains</a></li>
								<li><a href="http://transportforbucks.net/report-it-prow.aspx" target="">Report a Right of Way</a></li>
								<li><a href="http://www.transportforbucks.net/Winter-maintenance.aspx" target="">Winter maintenance</a></li>
					<li class="section"><a href="/education/" target="">Education</a></li>
								<li><a href="http://www.adultlearningbcc.ac.uk/" target="">Adult learning</a></li>
								<li><a href="http://www.bucksfamilyinfo.org/kb5/buckinghamshire/fsd/home.page" target="">Family Information Service</a></li>
								<li><a href="/education/early-years-and-childcare/" target="">Early Years and childcare</a></li>
								<li><a href="/education/education-support/" target="">Education support</a></li>
								<li><a href="/education/schools/" target="">Schools</a></li>
					<li class="section"><a href="/leisure-and-culture/" target="">Leisure and culture</a></li>
								<li><a href="http://www.buckscountymuseum.org/museum/" target="_blank">Bucks County Museum</a></li>
								<li><a href="/leisure-and-culture/centre-for-buckinghamshire-studies/" target="">Centre for Buckinghamshire Studies</a></li>
								<li><a href="/leisure-and-culture/country-parks/" target="">Country parks</a></li>
								<li><a href="/leisure-and-culture/libraries/" target="">Libraries</a></li>
					<li class="section"><a href="/environment/" target="">Environment</a></li>
								<li><a href="/environment/planning/" target="">Planning</a></li>
								<li><a href="/environment/rights-of-way/" target="">Rights of way</a></li>
								<li><a href="/environment/sustainability/" target="">Sustainability</a></li>
								<li><a href="/environment/waste,-recycling-and-treatment/" target="">Waste, recycling and treatment</a></li>
					<li class="section"><a href="/social-care/" target="">Social care</a></li>
								<li><a href="/social-care/children-and-families/adoption/" target="">Adoption</a></li>
								<li><a href="/social-care/care-for-adults/" target="">Care and advice for adults</a></li>
								<li><a href="/social-care/children-and-families/" target="">Children and families</a></li>
								<li><a href="/social-care/children-and-families/child-protection-and-safeguarding/" target="">Child protection and Safeguarding</a></li>
								<li><a href="/social-care/children-and-families/fostering/" target="">Fostering</a></li>
					<li class="section"><a href="/atoz/" target="">A - Z Services</a></li>
</ul>	</li>
	<li >
	<a class="nav-primary-link" href="/business/" >Business</a>
<ul>					<li class="section"><a href="http://www.bbf.uk.com/" target="">Buckinghamshire Business First</a></li>
								<li><a href="http://www.bbf.uk.com/business-directory" target="">Business directory</a></li>
								<li><a href="http://www.bbf.uk.com/business-hubs" target="">Business hubs</a></li>
								<li><a href="http://www.bbf.uk.com/land-and-property-search" target="">Vacant land &amp; property database</a></li>
					<li class="section"><a href="https://apps2.buckscc.gov.uk/ecommerce/Default.aspx?shop=Licences" target="">Licences</a></li>
					<li class="section"><a href="/business/business-information/" target="">Business information</a></li>
					<li class="section"><a href="/business/selling-to-the-council/" target="">Selling to the council</a></li>
								<li><a href="/business/selling-to-the-council/getting-started/" target="">Getting started</a></li>
								<li><a href="/business/selling-to-the-council/prime-contractors/" target="">Prime contractors</a></li>
					<li class="section"><a href="/environment/sustainability/" target="">Sustainability</a></li>
					<li class="section"><a href="http://www.adultlearningbcc.ac.uk/Page.aspx?pageid=61&amp;SelL1Id=69&amp;SelL2Id=70&amp;SelL3Id=0" target="">Business training and work skills</a></li>
					<li class="section"><a href="/business/trading-standards-1/" target="">Trading standards</a></li>
								<li><a href="#" target=""></a></li>
					<li class="section"><a href="/atoz/" target="">A - Z Services</a></li>
</ul>	</li>
	<li >
	<a class="nav-primary-link" href="/about-your-council/" >About your Council</a>
<ul>					<li class="section"><a href="http://democracy.buckscc.gov.uk/uuCoverPage.aspx?bcr=1" target="">Councillors, meetings and decisions</a></li>
								<li><a href="http://democracy.buckscc.gov.uk/mgListCommittees.asp?bcr=1" target="">Committees</a></li>
								<li><a href="http://democracy.buckscc.gov.uk/mgMemberIndex.aspx?bcr=1" target="">Find your councillor</a></li>
					<li class="section"><a href="/about-your-council/have-your-say/" target="">Have your say</a></li>
								<li><a href="http://democracy.buckscc.gov.uk/mgepetitionlistdisplay.aspx?VM=2&amp;bcr=1" target="">ePetitions</a></li>
					<li class="section"><a href="/about-your-council/our-plans/" target="">Our plans</a></li>
					<li class="section"><a href="http://jobs.buckscc.gov.uk" target="">Jobs &amp; Careers</a></li>
								<li><a href="http://jobs.buckscc.gov.uk/job-search/" target="">Job search</a></li>
								<li><a href="http://jobs.buckscc.gov.uk/teams/childrens-social-care/" target="">Children&#39;s Social Care jobs</a></li>
					<li class="section"><a href="/about-your-council/open-data/" target="">Open data</a></li>
								<li><a href="/about-your-council/open-data/data-protection/" target="">Data Protection</a></li>
								<li><a href="/about-your-council/open-data/freedom-of-information/" target="">Freedom of Information</a></li>
					<li class="section"><a href="/about-your-council/finance/" target="">Finance</a></li>
								<li><a href="/about-your-council/finance/accounts/" target="">Accounts</a></li>
								<li><a href="/about-your-council/finance/budget/" target="">Budget</a></li>
								<li><a href="/about-your-council/finance/council-tax/" target="">Council Tax</a></li>
</ul>	</li>
	<li >
	<a class="nav-primary-link" href="/your-buckinghamshire/" >Your Buckinghamshire</a>
	</li>
	<li >
	<a class="nav-primary-link" href="/about-your-council/do-it-online/" >Do it online</a>
<ul>					<li class="section"><a href="/about-your-council/do-it-online/apply-for-it/" target="">Apply</a></li>
								<li><a href="/education/schools/admissions-and-moving-school/" target="">Admissions and moving school</a></li>
								<li><a href="/social-care/disabled-persons-car-badges/" target="">Apply for a blue badge</a></li>
								<li><a href="/environment/waste,-recycling-and-treatment/household-waste-and-recycling-centres/waste-permit-scheme/" target="">Waste permit scheme</a></li>
					<li class="section"><a href="/about-your-council/do-it-online/pay-an-invoice/" target="">Pay an invoice</a></li>
								<li><a href="https://parkingservices.nsl.co.uk/bucks/Notices/default.asp" target="">Parking PCN</a></li>
								<li><a href="https://buckinghamshire.spydus.co.uk/cgi-bin/spydus.exe/MSGTRN/OPAC/LOGINB?HOMEPRMS=LOGINPARAMS" target="">Pay library charges</a></li>
					<li class="section"><a href="http://transportforbucks.net/track-it.aspx" target="">Track transport issues</a></li>
								<li><a href="https://account.buckscc.gov.uk/authapi/auth?provider=ssauth&amp;uri=https://account.buckscc.gov.uk&amp;lang=en" target="">Login to MyAccount</a></li>
					<li class="section"><a href="/about-your-council/do-it-online/buy-online/" target="">Buy online</a></li>
								<li><a href="https://apps2.buckscc.gov.uk/ecommerce/Process/Action/Dispatch.aspx?NavGraph=TransportNavGraph" target="_blank">Pay for a school bus pass</a></li>
								<li><a href="https://apps2.buckscc.gov.uk/ecommerce/default.aspx?shop=Country+parks+permit" target="">Country parks parking permits</a></li>
								<li><a href="https://apps2.buckscc.gov.uk/ecommerce/Default.aspx?shop=Licences" target="">Licences</a></li>
					<li class="section"><a href="https://buckinghamshire.spydus.co.uk/cgi-bin/spydus.exe/MSGTRN/OPAC/LOGINB" target="">Renew</a></li>
								<li><a href="https://buckinghamshire.spydus.co.uk/cgi-bin/spydus.exe/MSGTRN/OPAC/LOGINB" target="">Renew your library loans</a></li>
								<li><a href="/community/births,-deaths,-marriages-and-civil-partnerships/renewal-and-commitment-ceremonies/" target="">Renewal and commitment ceremonies</a></li>
					<li class="section"><a href="/about-your-council/do-it-online/report-it/" target="">Report it</a></li>
								<li><a href="#" target=""></a></li>
								<li><a href="/environment/waste,-recycling-and-treatment/fly-tipping/report-fly-tipping/" target="">Report fly-tipping</a></li>
								<li><a href="http://transportforbucks.net/report-it-prow.aspx" target="">Report a Right of Way</a></li>
					<li class="section"><a href="/about-your-council/do-it-online/book/" target="">Book</a></li>
								<li><a href="http://www.buckscc.gov.uk/events/?g=14203" target="">Country park events</a></li>
								<li><a href="https://s5.sishost.co.uk//BK/Agenda/OnlineBookingsPublic" target="">Book an appointment with a Registrar</a></li>
</ul>	</li>
	<li >
	<a class="nav-primary-link" href="/about-your-council/contact-us/" >Contact us</a>
<ul>					<li class="section"><a href="/about-your-council/contact-us/" target="">Contact us</a></li>
								<li><a href="/about-your-council/contact-us/email-addresses/" target="">Email addresses</a></li>
								<li><a href="/about-your-council/contact-us/telephone-numbers/" target="">Telephone numbers</a></li>
								<li><a href="/about-your-council/contact-us/offices/" target="">Offices</a></li>
								<li><a href="/about-your-council/contact-us/follow-us/" target="">Follow us</a></li>
					<li class="section"><a href="http://democracy.buckscc.gov.uk/mgMemberIndex.aspx?bcr=1" target="">Find your councillor</a></li>
								<li><a href="/about-your-council/contact-us/feedback-and-complaints/complain-about-a-councillor/" target="">Complain about a councillor</a></li>
					<li class="section"><a href="/about-your-council/contact-us/media-centre/" target="">Media centre</a></li>
					<li class="section"><a href="/about-your-council/contact-us/information-in-other-languages/" target="">Information in other languages</a></li>
					<li class="section"><a href="/about-your-council/contact-us/services-for-deaf-or-hard-of-hearing/" target="">Services for deaf or hard of hearing</a></li>
</ul>	</li>

	</ul>
</nav>

<script type="text/javascript" src="/scripts/js/jquery.plugins.js"></script>
<script type="text/javascript" src="/scripts/js/jquery.caption.min.js"></script>
<script type="text/javascript" src="/scripts/js/script.js"></script>
<script type="text/javascript" src="/scripts/js/responsive-tables.js"></script>
<script type="text/javascript" src="/Scripts/Blog4Umbraco/blog4umbraco.js"></script>
<script type="text/javascript" src="/scripts/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/js/gae.js"></script>
<script type="text/javascript" src="/scripts/js/jquery.mmenu.min.all.js"></script>








	
<script type="text/javascript">
    /*  */
	var socitm_my_domains = "localhost, buckscc.gov.uk, buckinghamshire.spydus.co.uk, emsonline.buckscc.gov.uk, propertysearch.evolutive.co.uk, adultlearningbcc.ac.uk, schoolsweb.buckscc.gov.uk, transportforbucks.net, ubp.buckscc.gov.uk, s5.sishost.co.uk";
    var socitm_custcode = "84";
    var socitm_intro_file = "http://www.buckscc.gov.uk/socitm_intro/";
  	/*  */
</script>
<script src="http://socitm.govmetric.com/js/socitm_wrapper.aspx" type="text/javascript"></script>
<noscript><p><a href="http://socitm.govmetric.com/survey.aspx?code=84">Tell us what you think about our site...</a><img alt="" src="http://socitm.govmetric.com/imagecounter.aspx?code=84" /></p></noscript>



<!-- Google Analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-34110084-1', 'auto');
    ga('send', 'pageview');
</script>

<script type="text/javascript">
	var searchWord = "test";
	var numberOfHits = "241";
</script>

<script type="text/javascript">
	/*<![CDATA[*/
	(function() {
	var sz = document.createElement('script'); sz.type = 'text/javascript'; sz.async = true;
	sz.src = '//uk1.siteimprove.com/js/siteanalyze_300776.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sz, s);
	})();
	/*]]>*/
</script>

<script type="text/javascript">
	$(function() {
		$('nav#menu').mmenu();
	});
</script>
	</body>
</html>
	
	
