<!DOCTYPE html>
		<html lang="en">
			<head>
				<!-- Meta & Page Information -->
				<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" /><title>Service Directory</title>
<!--[if lt IE 9]>
	<script src="//search3.openobjects.com/cdn/html5shiv/3.7.2.min.js"></script>
<![endif]-->
<script type="text/javascript">
		//<![CDATA[
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-51444170-1']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		//]]>
	</script>
<script type="text/javascript">
		//<![CDATA[
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-51444170-3']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		//]]>
	</script>
<!-- Stylesheets -->
				<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
<link href="assets/css/presence.min.css" rel="stylesheet" type="text/css" media="all"/>
<link href="assets/css/lightbox.2.6.css" rel="stylesheet" type="text/css" media="all" />
<link href="//search3.openobjects.com/cdn/formvalidation/0.6.0/formvalidation.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="//search3.openobjects.com/cdn/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="assets/css/theme-highcontrast.min.css" rel="alternate stylesheet" type="text/css" media="all" title="High contrast" disabled="disabled" />
<link href="assets/css/theme-bluecontrast.min.css" rel="alternate stylesheet" type="text/css" media="all" title="Blue contrast" disabled="disabled" />
<link href="assets/css/theme-creamcontrast.min.css" rel="alternate stylesheet" type="text/css" media="all" title="Cream contrast" disabled="disabled" />
<link href="assets/css/print.min.css" rel="stylesheet" type="text/css" media="print" />
<link href="//customertesting-apps.openobjects.com/panels/v1/css/app.css" type="text/css" rel="stylesheet" />
<!--[if lt IE 9]>
	<link href="assets/css/ie.min.css" rel="stylesheet" type="text/css" media="all" />
<![endif]-->
<link href="//apps.openobjects.com/authentication/v1/css/app.css" type="text/css" rel="stylesheet" /></head>
			<body id="home_page" class="core_page">
				<a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
				
  
 <div class="alert alert-danger" id="exitlink"><a href="#" class="alert-link">Click here to quickly<br/>exit this website</a></div>
				<div class="container">
					<!-- Header -->
					<header id="header">
					
						<ul>
							
							<li><a href="accessibility.page" title="Accessibility controls">Accessibility</a></li>
							<li><!-- a buttons linking to accessibility.page until size control has been created -->
								<a href="accessibility.page" class="header-font-control"><span class="small">A</span></a>&nbsp;
								<a href="accessibility.page" class="header-font-control" data-size="2"><span class="medium">A</span></a>&nbsp;
								<a href="accessibility.page" class="header-font-control" data-size="3"><span class="large">A</span></a>
							</li>
							<li>
								<section id="kbauth-links" class="authentication-app authentication-app-currentuser">
										<a href="sign_in.page?e=signin?return=dashboard.page" class="btn btn-link">Register/Login</a>
									</section>
								</li>
						</ul>
						<div id="browse_aloud">
							<script type="text/javascript">var _baLocale = 'uk', _baUseCookies = true, _baHiddenMode = false, _baHideOnLoad = true;</script>
							<script type="text/javascript" src="//www.browsealoud.com/plus/scripts/ba.js"></script>
							<noscript>
								<a href="http://www.browsealoud.com/" target="_blank">
									<img src="includes/images/customer/ba_logo.png" alt="Learn more at www.browsealoud.com" title="Learn more at www.browsealoud.com" />
								</a>
							</noscript>
						</div>
					</header><!-- End Header -->
					<nav id="primary_nav" class="navbar navbar-default" role="navigation">
	<div class="fluid-container primary-navbar-wrapper">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-navbar">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="home.page">Service <strong>Directory</strong></a>
		</div>
		
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="primary-navbar">
			<ul class="nav navbar-nav">
				<li class="dropdown category_menu category_family active" role="presentation">
							<a href="home.page" class="dropdown-toggle" title="Family">Home&nbsp;<span class="caret hidden-sm hidden-xs"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="family.page?familychannel=2340" title="Things To Do">Things To Do</a></li>
										<li><a href="family.page?familychannel=2357" title="Early Education and Childcare">Early Education and Childcare</a></li>
										<li><a href="family.page?familychannel=2476" title="Children's Centres and Early Help Hubs">Children's Centres and Early Help Hubs</a></li>
										<li><a href="localoffer.page" title="SEN and Disability (SEND)">SEN and Disability (SEND)</a></li>
										<li><a href="family.page?familychannel=2360" title="Education">Education</a></li>
										<li><a href="family.page?familychannel=1" title="Events">Events</a></li>
										<li><a href="family.page?familychannel=2358" title="Children and Family Services">Children and Family Services</a></li>
										<li><a href="family.page?familychannel=2359" title="Health and Wellbeing">Health and Wellbeing</a></li>
										<li><a href="family.page?familychannel=2700" title="Employment and Training">Employment and Training</a></li>
										<li><a href="family.page?familychannel=2361" title="Money Matters">Money Matters</a></li>
										<li><a href="family.page?familychannel=2600" title="Keeping Safe">Keeping Safe</a></li>
										</ul>
						</li>
					<li class="dropdown category_menu category_youth" role="presentation">
							<a href="youth.page?youthchannel=0" class="dropdown-toggle" title="Youth Zone">Youth Zone&nbsp;<span class="caret hidden-sm hidden-xs"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="youth.page?youthchannel=1" title="Learning &amp; work">Learning &amp; work</a></li>
										<li><a href="youth.page?youthchannel=2" title="Life">Life</a></li>
										<li><a href="youth.page?youthchannel=3" title="Things to do">Things to do</a></li>
										</ul>
						</li>
					<li class="dropdown category_menu category_adult" role="presentation">
							<a href="adult.page?adultchannel=0" class="dropdown-toggle" title="Adult Social Care">Adult Social Care&nbsp;<span class="caret hidden-sm hidden-xs"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="myway.page?adultchannel=0">Information, advice and services</a></li>
										<li><a href="site.page?id=Kwk2e8X5naA&amp;adultchannel=0">Will I be charged?</a></li>
										<li><a href="advice.page?id=T7qqZUND4Uc&adultchannel=0">My needs</a></li>
										<li><a href="advice.page?id=TViplWZZpZk&adultchannel=0">Login or register</a></li>
									</ul>
						</li>
					<li ><a title="Events" href="whats_on.page">Events</a></li>
				<li ><a title="Feedback" href="feedback.page">Feedback</a></li>
				<li ><a title="Help" href="help.page">Help</a></li>
				<li class="collapsed_menu_item"><section id="kbauth-links" class="authentication-app authentication-app-currentuser">
  
    <a href="sign_in.page" class="btn btn-link">My account</a>
  
</section></li>
				<li class="collapsed_menu_item"></li>
				<li class="-shortlist" id="menu_shortlist"><a title="My Shortlist" href="shortlist.page">My Shortlist&nbsp;<span class="shortlist_count">0</span></a></li>
			</ul>
			<form class="navbar-form -search" role="search" id="search-navbar" novalidate action="results.page">
			  	<div class="form-group has-feedback">
					<label class="sr-only" for="navbarQT">Search for</label>
					<input type="text" class="form-control" name="qt" id="navbarQT" placeholder="Keyword(s)" size="25" value=""/>
					<i class="form-control-feedback fa fa-search"></i>
				</div>
				<div class="form-group">
					<div class="input-group">
						<label class="sr-only" for="navbarTerm">in location</label>
						<input type="text" class="form-control" name="term" id="navbarTerm" placeholder="Place name or postcode" size="25" value="" />
						<div class="input-group-btn">
							<button type="button" id="location_lookup_trigger" title="Use my current location">
								<i class="fa fa-crosshairs"></i><span class="sr-only">Use my current location</span>
							</button>
						</div>
					</div>
				</div>
				<div class="form-group">
					<input type="hidden" name="sorttype" value=""/>
					<button type="submit">Search</button>
						</div>
			</form>
		</div>
	</div>
</nav><!-- Breadcrumb -->
					<!-- End Breadcrumb -->
					<!-- Content -->
					<div id="content"><div id="page_content">
	<div id="main_content">
		<ul>
			<li><a class="cat cat_fam cat_fam_2340" href="family.page?familychannel=2340" title="Activities and Community Groups">Things To Do</a></li>
			<li><a class="cat cat_fam cat_fam_2357" href="family.page?familychannel=2357" title="Early Education and Childcare">Early Education and Childcare</a></li>
			<li><a class="cat cat_fam cat_fam_2358" href="family.page?familychannel=2358" title="Children &amp; Family Services">Children and Family Services</a></li>
			<li><a class="cat cat_fam cat_fam_2361" href="family.page?familychannel=2361" title="Money Matters">Money Matters</a></li>
			<li><a class="cat cat_fam cat_fam_2360" href="family.page?familychannel=2360" title="Education">Education</a></li>
			<li><a class="cat cat_youth" href="youth.page?youthchannel=0" title="Youth Zone">Youth Zone</a></li>
			<li><a class="cat cat_local_offer" href="localoffer.page" title="SEN &amp; Disability (SEND) Local Offer">SEN and Disability (SEND) Local Offer</a></li>
			<li><a class="cat cat_fam cat_fam_2476" href="family.page?familychannel=2476" title="Children's Centres">Children's Centres and Early Help Hubs</a></li>
			<li><a class="cat cat_fam cat_fam_2359" href="family.page?familychannel=2359" title="Health and Wellbeing">Health and Wellbeing</a></li>
			<li><a class="cat cat_fam cat_fam_2700" href="family.page?familychannel=2700" title="Employment &amp; Training">Employment and Training</a></li>
			<li><a class="cat cat_fam cat_fam_2600" href="family.page?familychannel=2600" title="Keeping Safe">Keeping Safe</a></li>
			<li><a class="cat cat_adults" href="adult.page?adultchannel=0" title="Adult Social Care">Adult Social Care</a></li>
		</ul>
		<div id="social_icons">
			<a title="Like us on Facebook" target="_blank" href="https://www.facebook.com/TraffordFIS"><img alt="Like us on Facebook" src="assets/images/presence/facebook.png" /></a>
			<a title="Follow us on Twitter" target="_blank" href="https://twitter.com/TraffordFIS"><img alt="Follow us on Twitter" src="assets/images/presence/twitter.png" /></a>
			<a title="Subscribe to our YouTube channel" target="_blank" href="https://www.youtube.com/channel/UCzPf8N1dTqPa9m6Q7lOSGqQ"><img alt="Subscribe to our YouTube channel" src="assets/images/presence/youtube.png" /></a>
		</div>
	</div>
</div></div>
					<a href="#" class="back-to-top" title="Link to the top of the page">Back to top</a>
					<!-- End Content -->
					<!-- Footer -->
					<div id="footer_top">
						If you can't find what you are looking for, why not <a href="contact.page" title="Contact Us">contact us?</a>
					</div>
					<footer id="footer" class="container-fluid">
						<ul>
							<li>&copy; Trafford Council</li>
							<li><a href="contact.page" title="Contact Us">Contact Us</a></li>
							<li><a href="disclaimer.page" title="Disclaimer">Disclaimer</a></li>
							<li><a href="service.page?id=Z5J62NkPjNE" title="Cover Your Tracks">Cover Your Tracks</a></li>
							<li><a href="site.page?id=3WHWhyqGuek" title="Our Service">Our Service</a></li>
						</ul>
						<div class="logos">
							<img src="assets/images/presence/footer_familyfriendly.png" alt="Family Friendly UK Accredited member" />
						</div>
						<small class="oo-label">Powered by <a target="_blank" href="http://www.openobjects.com">Open Objects</a>&nbsp;&copy;&nbsp;Open Objects Software Limited</small>
					</footer><!-- End Footer -->
				</div>
				<!-- JavaScript -->
				<script src="//search3.openobjects.com/cdn/jquery/1.11.2.min.js" type="text/javascript"></script>
<script src="//search3.openobjects.com/cdn/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
<script src="//search3.openobjects.com/cdn/formvalidation/0.6.3/js/formValidation.min.js" type="text/javascript"></script>
<script src="//search3.openobjects.com/cdn/formvalidation/0.6.3/js/framework/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/script.min.js" type="text/javascript"></script>
<script src="assets/js/lightbox.2.6.min.js" type="text/javascript"></script> 
<!--[if lt IE 9]>
	<script src="//search3.openobjects.com/cdn/placeholder/3.0.2.min.js"></script>
	<script src="//search3.openobjects.com/cdn/respond/1.4.2.min.js"></script>
	<script src="assets/js/ie.min.js" type="text/javascript"></script>
<![endif]-->
<script src="//apps.openobjects.com/authentication/v1/js/app.js" type="text/javascript"></script>
</body>
		</html>
	