

















  
  
  
  
  
  



















































	

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>Islington Directories | Islington Directories</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<!-- Google analytics -->
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-980124-35']);
		  _gaq.push(['_trackPageview']);
		  (function() {
			var ga = document.createElement('script'); ga.type =
		'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
		'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
		  })();
		</script>

		<!-- Stylesheets -->
		<link rel="stylesheet" href="includes/css/style.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="includes/css/customer.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="includes/css/jquery-ui-1.8.14.custom.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="includes/css/jquery.alerts.css" type="text/css" media="screen, projection" />  
		<link rel="stylesheet" href="includes/css/print.css" type="text/css" media="print" />  
		<!--[if IE]><link rel="stylesheet" href="includes/css/ie.css" type="text/css" media="screen, projection" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="includes/css/ie7.css" type="text/css" media="screen, projection" /><![endif]-->
		
	</head>
	<body id="home" class="home_page">
	
	
		<div class="container">	
			<div id="header" class="span-49">						
				<div class="span-32 last">
					<span id="site_title"><a href="http://www.islington.gov.uk" title="Islington Homepage">Islington Homepage</a></span>
				</div>
				<div id="textcontrolbox" class="span-16 last">	
					<a id="textonlycontrol" href="#">A <span class="medium">A</span> <span class="large">A</span>Text Only</a>
					
					
					
					<a title="Speak this page with BrowseAloud"  href="#" onclick="function getProtocol(){return window.location.href.indexOf('https')==0?'https':'http';}(function(){if(navigator.userAgent.indexOf('MSIE')!=-1&amp;&amp;getProtocol()=='https'){alert('You are viewing a secure website. We do not currently support BrowseAloud services on secure sites.');}else{document.getElementsByTagName('BODY')[0].appendChild(document.createElement('script')).src=getProtocol()+'://babm.texthelp.com/Bookmarklet.ashx?l=uk';}})();"id="speakthispage">Speak this page</a>
				
				</div>
				<div id="navigation" class="span-48">
					<ul id="topnav">
						<li class=" selected"><a href="home.page">Home</a></li>
						<li class=""><a href="addentry.page">Add a new service</a></li>
						<li class=""><a href="comment.page">Make a comment</a></li>
						
						
						
						
						
						<li class=""><a href="contact.page">Contact us</a></li>
						
						
					</ul>
				</div>
			</div>
			<div id="contentwrap" class="clear left">
				<div id="content" class="clearfix span-44 last">
					<div id="breadcrumb">
						<strong>You are here:</strong>&nbsp;
						
							
								Islington Directories
							
							
						
					</div>
					
					<div class="span-38" id="h1">
						<h1 class="green clear">Islington Directories</h1>
					</div>
					<div id="shortlist" class="span-6 last">
						<a href="shortlist.page" title="My Shortlist" class="shortlist-view"><span class="shortlist_text">My shortlist</span><br/><span class="shortlist_count" id="shortlist_count">0 items</span></a>
					</div>
					
					















<div class="span-33 prepend-1 last right directory_list">
	<h2 class="blue noborder">Search all Directories</h2>
	<form id="pageForm" method="get" action="results.page">
		<ul id="searchForm">
			<li>
				<label for="qt" class="green left">Search for:</label>
				<input type="text" value="" size="30" name="qt" id="qt" title="eg. nursery" class="text defaultTextActive" />
			</li>
			<li>
				<label for="loc" class="green left">And/or search by postcode:</label>
				<input type="text" value="" size="30" name="term" id="loc" title="eg. N1 or N1 1XR" class="text defaultTextActive" />
			</li>
			<li class="last">
				<input type="image" onclick="javascript:clearText()" src="includes/images/client/search-button.png">
				<span>Get <a title="help using the search" href="help.page">help using the search</a></span><br/>
				<p>This does not search the Links for Living Directory. Please click on link below for access to this.</p>
			</li>
		</ul>
	</form>

	<h2 class="blue noborder">Select a Directory</h2>
	<ul class="categorylist">
		<li>
			<p class="link"><a href="local.page">Directory of Local Services</a></p>
			<p class="description">Services provided by the council and other organisations around Islington.</p>
			<a href="local.page"><img src="includes/images/client/view-directory.png" alt="View directory" /></a>
		</li>
		<li>
			<p class="link"><a href="family.page">Family Directory</a></p>
			<p class="description">For parents and carers, children and young people, and the practitioners working with them.</p>
			<a href="family.page"><img src="includes/images/client/view-directory.png" alt="View directory" /></a>
		</li>
		<li class="lastonrow">
			<p class="link"><a href="http://linksforliving.islington.gov.uk">Links for Living Social Services</a></p>
			<p class="description">Ideas for a healthier, more fulfilling and independent life.<br/><br/></p>
			<a href="http://linksforliving.islington.gov.uk"><img src="includes/images/client/view-directory.png" alt="View directory" /></a>
		</li>
		
		<li class="link">
			<p class="link"><a href="refugee.page">Refugee and Migrant Directory</a></p>
			<p class="description">This is an online guide for refugees, asylum seekers and professionals.</p>
			<a href="refugee.page"><img src="includes/images/client/view-directory.png" alt="View directory" /></a>
		</li>
		
		<li class="lastonrow">
			<p class="link"><a href="../enterprise/youth.page">Young People's Directory</a></p>
			<p class="description">Directory of information, services and events for young people.</p>
			<a href="../enterprise/youth.page"><img src="includes/images/client/view-directory.png" alt="View directory" /></a>
		</li>
	</ul>
</div>
	
<div class="span-10 last">
	<div class="boxed">
		<p>The online directory brings together all the contact information of services you need if you are living, visiting or working in Islington.</p>
	</div>
</div>			
				</div>
			</div>
			<div id="footer" class="span-48">	
				<ul>
					<li id="openobjects"><a target="_blank" name="OpenObjectsLtd" href="http://www.openobjects.com">Directories powered by Open Objects Ltd.</a>|</li>
					<li><a target="_blank" name="Legal" href="http://www.islington.gov.uk/about/legal-information/Pages/legal-information.aspx">Legal</a>|</li>
					<li><a target="_blank" name="freedomofinformation" href="http://www.islington.gov.uk/about/council-documents/access_to_information/freedomofinformation/Pages/default.aspx">Freedom of information</a>|</li>
					<li><a target="_blank" name="feedback" href="https://www.islington.gov.uk/eforms2/Complaints/">Feedback</a></li>
					
						<li><a href="signin.page">Sign in</a></li>
					
					
				</ul>
				
				
				<div id="pdf-footer">Printed : 07/02/2016 &copy; Islington Council. All Rights Reserved.</div>
			</div>
		</div>	
	
	
	<script type="text/javascript" src="/kb5/external.js.h317143744.pack" charset="utf-8"></script>	
	<script type="text/javascript" src="/kb5/external.js.h-815174022.pack" charset="utf-8"></script>	
	<script type="text/javascript" src="/kb5/external.js.h-113767242.pack" charset="utf-8"></script>
	<script type="text/javascript" src="/kb5/islington/directory/includes/js/jquery.cookie.js.h-2075868678.pack" charset="utf-8"></script>
	<script type="text/javascript" src="includes/js/jquery.cookie.js" charset="utf-8"></script>
	<script type="text/javascript" src="/kb5/islington/directory/includes/js/jquery.hoverIntent.minified.js.h-586916386.pack" charset="utf-8"></script>
	<script type="text/javascript" src="/kb5/islington/directory/includes/js/jquery.dcmegamenu.1.3.2.js.h-2135941157.pack" charset="utf-8"></script>
	<script type="text/javascript" src="/kb5/islington/directory/includes/js/jquery.coolMultiple.min.js.h-1196682049.pack" charset="utf-8"></script>
	<script type="text/javascript" src="/kb5/islington/directory/includes/js/mbTooltip.js.h1957216692.pack" charset="utf-8"></script>	
	<script type="text/javascript" src="/kb5/islington/directory/includes/js/jquery.tinymce.js.h537345043.pack" charset="utf-8"></script>
	<script type="text/javascript" src="/kb5/islington/directory/includes/js/jquery.alerts.js.h-203401848.pack" charset="utf-8"></script>
	<script type="text/javascript" src="/kb5/islington/directory/includes/js/jquery.imageResizer.js.h1554958202.pack" charset="utf-8"></script>
	<script type="text/javascript" src="/kb5/islington/directory/includes/js/password_strength_plugin.js.h1210578718.pack" charset="utf-8"></script>	
    <script type="text/javascript" src="/kb5/islington/directory/includes/js/jquery.prettyPhoto.js.h-1805655597.pack" charset="utf-8"></script>
	<script type="text/javascript" src="includes/js/common.js" charset="utf-8"></script>
    <script type="text/javascript" src="includes/js/googleanalytics.js"></script>
	
	
	<script type="text/javascript" src="includes/js/clear.js" charset="utf-8"></script>
  
	</body>
</html>