<!DOCTYPE html>
		<html lang="en">
			<head>
				<!-- Meta & Page Information -->
				<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" /><title>Nottinghamshire Help Yourself&nbsp;|&nbsp;Families Directory</title>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="//search3.openobjects.com/cdn/html5shiv/3.7.2.min.js"></script>
<![endif]-->
<script type="text/javascript">
		//<![CDATA[
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-48311481-2']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		//]]>
	</script>
<!-- Stylesheets -->
				<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="assets/css/wireframe.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="assets/css/presence.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="assets/css/lightbox.2.6.css" rel="stylesheet" type="text/css" media="all" />
<link href="//search3.openobjects.com/cdn/formvalidation/0.6.0/formvalidation.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="//search3.openobjects.com/cdn/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
<!--[if lt IE 9]>
	<link href="assets/css/ie.min.css" rel="stylesheet" type="text/css" media="all" />
<![endif]-->
<link href="assets/css/print.min.css" rel="stylesheet" type="text/css" media="print" /></head>
			<body id="landing_page" class="core_page landing_page channel_home">
				<a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
				<div class="container">
					<div id="readspeaker_button1" class="rs_skip rsbtn rs_preserve pull-right">
						<a rel="nofollow" class="rsbtn_play" accesskey="L" title="Listen to this page using ReadSpeaker" href="https://app.readspeaker.com/cgi-bin/rsent?customerid=46&amp;lang=en_uk&amp;readid=content&amp;url=http%3A%2F%2Fwww.nottshelpyourself.org.uk%2Fkb5%2Fnottinghamshire%2Fdirectory%2Ffamily.page%3Ffamilychannel%3D0">
							<span class="rsbtn_left rsimg rspart"><span class="rsbtn_text"><span>Listen</span></span></span>
							<span class="rsbtn_right rsimg rsplay rspart"></span>
						</a>
					</div>
					<div id="google_translate_element" class="right"></div>
					<script type="text/javascript">
						function googleTranslateElementInit() {
						  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
						}
					</script>
					<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
				</div>
						
				<div class="container">
					<!-- Header -->
					<header id="header">
						<div id="header_left_side" class="header_group">
							<section id="header_title"><a href="home.page" title="Home page"><span>Nottinghamshire Help Yourself</span></a></section>
						</div>
						<div id="header_right_side" class="header_group"><nav id="primary_nav" class="navbar navbar-default" role="navigation">
	<div class="primary-navbar-wrapper">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-navbar">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand collapsed_menu_item" href="home.page">Nottinghamshire Help Yourself</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="primary-navbar">
			<ul class="nav navbar-nav">
				<li ><a href="home.page" title="Home page"><span>Home</span></a></li>	
				<li class="dropdown category_menu active" role="presentation">
					<a href="#" data-toggle="dropdown" class="dropdown-toggle active" title="Categories">Categories&nbsp;<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li role="presentation" class="dropdown-header">Current directory</li>
								<li><a href="family.page?familychannel=0">Families Home</a></li>
								<li><a href="family.page?familychannel=100" title="Childcare">Childcare</a></li>
								<li><a href="family.page?familychannel=200" title="Children's Centres">Children's Centres</a></li>
								<li><a href="family.page?familychannel=300" title="Things To Do">Things To Do</a></li>
								<li><a href="family.page?familychannel=400" title="Schools">Schools</a></li>
								<li><a href="family.page?familychannel=500" title="Advice &amp; Support - Parenting &amp; Family Support">Advice &amp; Support - Parenting &amp; Family Support</a></li>
								<li><a href="family.page?familychannel=600" title="Disability &amp; Special Needs">Disability &amp; Special Needs</a></li>
								<li class="divider"></li>
									<li role="presentation" class="dropdown-header">Our other directories</li>
									<li><a href="adult.page?adultchannel=0">Adults</a></li>
											<li><a href="community.page?communitychannel=0">Communities</a></li>
											<li><a href="localoffer.page?localofferchannel=0">Local Offer</a></li>
											<li><a href="selfhelp.page?selfhelpchannel=0">Supported Self Care</a></li>
											<li class="divider"></li>
										<li role="presentation" class="dropdown-header">Our other services</li>
									<li><a href="pa_home.page" title="PA Finder">PA Finder</a></li>
								</ul>
						</li>
				<li ><a href="whats_on.page">What's On</a></li>
				<li ><a href="a_to_z.page?titleletter=a">A-Z List</a></li>	
				<li ><a href="advice.page?id=kmMQr-1-Svk">About Us</a></li>
				<li ><a href="contact.page">Contact Us</a></li>				
				<li class="collapsed_menu_item divider "><a href="shortlist.page">My List (0)</a></li>
				<li class=""><a href="sign_in.page">Sign In</a></li>
					<li class="last"><a href="register.page">Register</a></li>
				</ul>
		</div>
	</div>
</nav></div>
					</header>
					<!-- End Header -->
					<!-- Search bar -->
					<div id="search_holder">
						<form class="navbar-form" role="search" id="search-navbar" novalidate action="results.page">
							<div class="form-group has-feedback">
								<label class="sr-only" for="navbarQT">Search for</label>
								<input type="text" class="form-control" name="qt" id="navbarQT" placeholder="Enter Keyword" size="25" />
							</div>
							<div class="form-group">
								<div class="input-group">
									<label class="sr-only" for="navbarTerm">in location</label>
									<input type="text" class="form-control" name="term" id="navbarTerm" placeholder="Location OR Postcode" size="25" />
									<div class="input-group-btn">
										<button type="button" id="location_lookup_trigger" title="Use my current location"><span class="fa fa-crosshairs"><span class="sr-only">Use my current location</span></span></button>
									</div>										
								</div>
							</div>
							<div class="form-group" id="search-navbar-channel">
									<select class="form-control" name="familychannel" data-name="familychannel">
										<option value="0" selected="selected">Families</option>
											<option value="100" >&nbsp;&nbsp;Childcare</option>
												<option value="101" >&nbsp;&nbsp;&nbsp;&nbsp;Breakfast Club</option>
												<option value="114" >&nbsp;&nbsp;&nbsp;&nbsp;Childcare Organisations</option>
												<option value="102" >&nbsp;&nbsp;&nbsp;&nbsp;Childminder</option>
												<option value="103" >&nbsp;&nbsp;&nbsp;&nbsp;Creche</option>
												<option value="104" >&nbsp;&nbsp;&nbsp;&nbsp;Day Nursery</option>
												<option value="110" >&nbsp;&nbsp;&nbsp;&nbsp;Holiday Care</option>
												<option value="106" >&nbsp;&nbsp;&nbsp;&nbsp;Nanny Agencies</option>
												<option value="107" >&nbsp;&nbsp;&nbsp;&nbsp;After School Club</option>
												<option value="108" >&nbsp;&nbsp;&nbsp;&nbsp;Pre-School Playgroup</option>
												<option value="200" >&nbsp;&nbsp;Children's Centres</option>
												<option value="201" >&nbsp;&nbsp;&nbsp;&nbsp;Activities</option>
												<option value="202" >&nbsp;&nbsp;&nbsp;&nbsp;Childminding Network Groups</option>
												<option value="203" >&nbsp;&nbsp;&nbsp;&nbsp;Children's Centres</option>
												<option value="204" >&nbsp;&nbsp;&nbsp;&nbsp;Health Visitor Drop in Sessions</option>
												<option value="205" >&nbsp;&nbsp;&nbsp;&nbsp;Parenting Classes</option>
												<option value="300" >&nbsp;&nbsp;Things To Do</option>
												<option value="301" >&nbsp;&nbsp;&nbsp;&nbsp;Activities for Disabled Children</option>
												<option value="302" >&nbsp;&nbsp;&nbsp;&nbsp;Activities for Under 5's</option>
												<option value="303" >&nbsp;&nbsp;&nbsp;&nbsp;Activities for Young People</option>
												<option value="304" >&nbsp;&nbsp;&nbsp;&nbsp;Children's Centres Activities</option>
												<option value="305" >&nbsp;&nbsp;&nbsp;&nbsp;Clubs and Groups</option>
												<option value="306" >&nbsp;&nbsp;&nbsp;&nbsp;Family Days Out</option>
												<option value="307" >&nbsp;&nbsp;&nbsp;&nbsp;Parent &amp; Toddler/Baby Groups</option>
												<option value="400" >&nbsp;&nbsp;Schools</option>
												<option value="401" >&nbsp;&nbsp;&nbsp;&nbsp;Infant Schools</option>
												<option value="402" >&nbsp;&nbsp;&nbsp;&nbsp;Junior Schools</option>
												<option value="403" >&nbsp;&nbsp;&nbsp;&nbsp;Primary Schools</option>
												<option value="404" >&nbsp;&nbsp;&nbsp;&nbsp;Secondary Schools</option>
												<option value="405" >&nbsp;&nbsp;&nbsp;&nbsp;Special Schools</option>
												<option value="500" >&nbsp;&nbsp;Advice &amp; Support - Parenting &amp; Family Support</option>
												<option value="501" >&nbsp;&nbsp;&nbsp;&nbsp;Babies</option>
												<option value="502" >&nbsp;&nbsp;&nbsp;&nbsp;Benefits</option>
												<option value="503" >&nbsp;&nbsp;&nbsp;&nbsp;Child Protection &amp; Safeguarding</option>
												<option value="504" >&nbsp;&nbsp;&nbsp;&nbsp;Health</option>
												<option value="505" >&nbsp;&nbsp;&nbsp;&nbsp;Parenting Classes</option>
												<option value="506" >&nbsp;&nbsp;&nbsp;&nbsp;Relationships</option>
												<option value="507" >&nbsp;&nbsp;&nbsp;&nbsp;Support Groups</option>
												<option value="508" >&nbsp;&nbsp;&nbsp;&nbsp;Teenagers</option>
												<option value="509" >&nbsp;&nbsp;&nbsp;&nbsp;Toddlers</option>
												<option value="600" >&nbsp;&nbsp;Disability &amp; Special Needs</option>
												<option value="601" >&nbsp;&nbsp;&nbsp;&nbsp;Activities for Disabled Children</option>
												<option value="602" >&nbsp;&nbsp;&nbsp;&nbsp;Benefits</option>
												<option value="603" >&nbsp;&nbsp;&nbsp;&nbsp;Child Protection &amp; Safeguarding</option>
												<option value="604" >&nbsp;&nbsp;&nbsp;&nbsp;Respite Care</option>
												<option value="605" >&nbsp;&nbsp;&nbsp;&nbsp;Special Educational Needs</option>
												<option value="606" >&nbsp;&nbsp;&nbsp;&nbsp;Special Schools</option>
												<option value="607" >&nbsp;&nbsp;&nbsp;&nbsp;Support Groups</option>
												</select>
								</div>
							<div class="form-group btn-group">
								<input type="hidden" name="sorttype" />
								<button type="submit" class="btn btn-primary searchbutton">Search</button>
								<button type="reset" class="btn btn-primary clearbutton">Clear</button>			
							</div>
						</form>
						<section id="header_shortlist">
							<div class="btn-shortlist-container">
								<a href="shortlist.page" class="btn-shortlist">My List&nbsp;<span class="shortlist_count">0</span></a>
							</div>
						</section>	
					</div>
					<!-- End Search bar -->
					<!-- Content -->
					<div id="content"><div id="landing_header" class="family">
		<h1>
			<span class="right sub_title marginRight"><a href="#landing_feedback" data-toggle="modal" data-target="#landing_feedback" id="landung_feedback">What's Missing?</a></span>
			<span class="main_title">Families Directory</span><br/>
			<span class="sub_title">Offering free impartial information and guidance for families, children and young people aged 0-20 years.</span>
		</h1>
		
		</div>
	<div id="page_content" class="layout_toggle">	
		<div id="main_content" class="resource_section">
			<div id="categoryWrap" class="sub_cats familychannel">
				<div class="cat-icon familychannel-icon cat_familychannel_100" id="sub_cat_familychannel_100">
						<a href="family.page?familychannel=100" title="Childcare">
									Childcare</a>						
							</div>
				<div class="cat-icon familychannel-icon cat_familychannel_200" id="sub_cat_familychannel_200">
						<a href="family.page?familychannel=200" title="Children's Centres">
									Children's Centres</a>						
							</div>
				<div class="cat-icon familychannel-icon cat_familychannel_300" id="sub_cat_familychannel_300">
						<a href="family.page?familychannel=300" title="Things To Do">
									Things To Do</a>						
							</div>
				<div class="cat-icon familychannel-icon cat_familychannel_400" id="sub_cat_familychannel_400">
						<a href="family.page?familychannel=400" title="Schools">
									Schools</a>						
							</div>
				<div class="cat-icon familychannel-icon cat_familychannel_500" id="sub_cat_familychannel_500">
						<a href="family.page?familychannel=500" title="Advice &amp; Support - Parenting &amp; Family Support">
									
											Advice &amp; Support
										</a>						
							</div>
				<div class="cat-icon familychannel-icon cat_familychannel_600" id="sub_cat_familychannel_600">
						<a href="localoffer.page?localofferchannel=0" title="Disability &amp; Special Needs">
									Disability &amp; Special Needs</a>
							</div>
				</div>
			</div>
		<div class="side_content">
				<aside class="related_section related_pages">
						<ul>
							<li><a href="site.page?id=kmMQr-1-Svk" title="About FIS">About FIS</a></li>
							<li><a href="site.page?id=kI_ToUHXiYE" title="Free Childcare Places">Free Childcare Places</a></li>
							<li><a href="site.page?id=9qY_91qatwE" title="Practitioners">Practitioners</a></li>
							<li><a href="site.page?id=i4GkyYGCnxI" title="Become a Childminder">Become a Childminder</a></li>
							</ul>
					</aside>
				<aside class="related_section related_links">
						<ul>
							<li><a target="_blank" rel="external" href="http://www.nottinghamshire.gov.uk/learning/libraries/" title="Your Local Library">Your Local Library<span class="glyphicon glyphicon-new-window glyphicon-lead-left"></span></a></li>
							</ul>
					</aside>
				</div>
		</div>
	<div id="social_holder" class="family">
		<div class="social facebook">
					<span class="title">Follow us on Facebook</span>
					<img src="assets/images/presence/facebook.png" class="icon" alt="Facebook icon"/>
					<div class="content">
						<p class="fblink"><a href="https://www.facebook.com/nottslibraries" target="_blank"><span class="alt">Nottslibraries</span></a></p>
						<p class="text">
									Facebook is monitored during office hours Monday - Friday, however if your query is serious, urgent, or involves personal details, we advise you to contact our customer service centre 0300 500 80 80
								</p>
							</div>
				</div>
				<div class="social twitter">
					<span class="title">Follow <a href="https://twitter.com/nottslibraries"><span class="alt">@nottslibraries</span></a></span>
					<img src="assets/images/presence/twitter.png" class="icon" alt="Twitter icon"/>
					<div id="tweetticker" class="content">
						<ul>
							<li>
									Thank you Sarah!  <a href="https://t.co/8Eso0P24BE">https://t.co/8Eso0P24BE</a><br/>
									<em><small>Sat Feb 06 13:55:28 GMT 2016</small></em>
								</li>
							<li>
									Happy #nationallibrariesday all! What does your library mean to you? Watch the #libraryletters film <a href="https://t.co/YlQDc35UB9">https://t.co/YlQDc35UB9</a> via @YouTube<br/>
									<em><small>Sat Feb 06 11:38:28 GMT 2016</small></em>
								</li>
							<li>
									Celebrate National Libraries Day today! Visit your local library and borrow "One More Book"  #NLD16 <a href="https://t.co/q8bX7KCEbU">https://t.co/q8bX7KCEbU</a><br/>
									<em><small>Sat Feb 06 10:01:38 GMT 2016</small></em>
								</li>
							</ul>
					</div>
				</div>
				<div class="social familychannel news">
					<strong>News</strong>
					<div id="news">
						<ul>
							<li><h4><a href="site.page?id=LPUbCbylb50">Notts Help Yourself Provider Bulletin</a></h4></li>						
								<li><h4><a href="site.page?id=NDn363XV7t8">Bump, Baby and Toddler Festival</a></h4></li>						
								<li><h4><a href="site.page?id=IE8mwd1YIw4">Foundation Years Newsletter</a></h4></li>						
								</ul>
					</div>
					<a href="news.page?familychannel=0">View all news</a></div>
			</div>
<div class="modal fade" id="landing_feedback" tabindex="-1" role="dialog" aria-labelledby"LandingFeedbackForm">
	<div class="modal-dialog">
		<form role="form" method="get" action="landing_feedback_form.page" id="landing_feedback_form">
		<label for="control_honey_pot" class="hidden">Please do not change the value of the following field. It is used to detect spam and changing its value may result in your submission being rejected</label><input type="text" class="hidden" id="control_honey_pot" name="control_honey_pot" value=""/><label for="control_time_elapsed" class="hidden">Please do not change the value of the following field. It is used to detect spam and changing its value may result in your submission being rejected</label><input type="text" class="hidden" id="control_time_elapsed" name="control_time_elapsed" value="1454861863854"/><div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 id="LandingFeedbackForm">What's Missing</h4>
				</div>
				<div class="modal-body">
					<div class="form-group type_1_field">
						<label for="data_title">A title for what's missing</label>
						<input type="text" class="form-control" id="data_title" name="data_title" placeholder="A title for your comment" required data-fv-notempty-message="You must give your comment a title"/>
					</div>
					<div class="form-group">
						<label for="data_body">Please comment on anything that you feel is missing from this site.</label>
						<textarea class="form-control" id="data_body" name="data_body" placeholder="Your comment" required data-fv-callback="true" data-fv-callback-message="You must write a comment"></textarea>
					</div>
					<div class="form-group">
						<input type="hidden" name="pageType" value="family">
						<input type="hidden" name="__skey" value="ijtN8b84HKc" />
						<input type="hidden" name="ha" value="default"/>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Submit Comment</button>
				</div>
			</div>
		</form>
	</div>
</div></div>
					<!-- End Content -->
					<!-- Link Stub -->
					<div id="footer_links">
						<div class="footer_links">
									<a class="stub_link" target="_blank" href="http://www.nottinghamshire.gov.uk/" title="Nottinghamshire County Council">
										<img class="fimg_1" alt="Nottinghamshire County Council" src="assets/images/presence/working-in-partnership.png"/>
									</a>
									<a target="_blank" href="http://www.nhs.uk/Pages/HomePage.aspx" title="NHS">
										<img class="fimg_2" alt="NHS home page" src="assets/images/presence/nhs_large.png"/>
									</a>
								</div>
								<p class="footer_text">We offer an impartial service and we cannot recommend or endorse any providers listed on this website. Whilst every effort has been made to ensure the accuracy of the information provided, we do not accept any responsibility or liability for any errors that have occurred. It is recommended that you always check with providers listed that their service or organisation meets your requirements.</p>
								</div>
					<!-- End Link Stub -->					
					<!-- Footer -->
					<footer id="footer" class="container-fluid">
						<section id="footer_content">
							<p>
								<a href="cookies.page" title="Cokies Policy">Cookies Policy</a>&nbsp;|&nbsp;
								<a href="accessibility.page" title="Cokies Policy">Accessibility</a>&nbsp;|&nbsp;
								<a href="disclaimer.page" title="Disclaimer">Disclaimer</a>&nbsp;|&nbsp;
								<a href="privacy_policy.page" title="Privacy Policy">Privacy Policy</a>
							</p>
							
							<p>
										For childcare or family support information, please contact Nottinghamshire County Council on <strong>0300 500 80 80</strong>.
									</p>	
								<div class="copyright">Copyright 2014 Nottinghamshire County Council</div>
						</section>
					</footer><!-- End Footer -->
				</div>
				<!-- JavaScript -->
				<script src="//search3.openobjects.com/cdn/jquery/1.11.2.min.js" type="text/javascript"></script>
<script src="//search3.openobjects.com/cdn/formvalidation/0.6.0/formvalidation.min.js" type="text/javascript"></script>
<script src="//search3.openobjects.com/cdn/formvalidation/0.6.0/framework/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/script.min.js" type="text/javascript"></script>
<script src="assets/js/lightbox.2.6.min.js" type="text/javascript"></script> 
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="//search3.openobjects.com/cdn/respond/1.4.2.min.js"></script>
	<script src="assets/js/ie.min.js" type="text/javascript"></script>
<![endif]-->
<script type="text/javascript" src="//search3.openobjects.com/cdn/bootstrap-datepicker/bootstrap-datepicker.js"></script>
		<script type="text/javascript">
			$("#tweetticker").vTicker({
				speed: 500,
				pause: 8000,
				showItems: 1,
				animation: 'fade',
				mousePause: true,
				height: 0,
				direction: 'up'
			});
			$(".selfhelp_ticker").vTicker({
				speed: 500,
				pause: 8000,
				showItems: 1,
				animation: 'fade',
				mousePause: true,
				height: 0,
				direction: 'up'
			});			
			$("#news").vTicker({
				speed: 500,
				pause: 8000,
				showItems: 1,
				animation: 'fade',
				mousePause: true,
				direction: 'up'
			});
			$('#datepicker-inline').datepicker({
				todayHighlight: true,
				weekStart: 1,
				startDate: '-0d'
			}).on('changeDate', function(e){
				var date = $('#datepicker-inline').datepicker('getDate');
				var year = date.getFullYear();
				var month = (parseInt(date.getMonth() + 1) < 10 ? '0':'') + (parseInt(date.getMonth() + 1));
				var day = (parseInt(date.getDate() + 1) < 10 ? '0':'') + (parseInt(date.getDate()));
				var parsed_date = year.toString() + month.toString() + day.toString();
				var url="results.page?searchtype=event&start=" + parsed_date + "&end=" + parsed_date;
				window.location.href=url;
			});		
		</script>
	<script src="https://search3.openobjects.com/cdn/readspeaker/2.5/ReadSpeaker.js?pids=embhl" type="text/javascript"></script>
			</body>
		</html>
	