<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>Newcastle Families Information Service | Newcastle Services Directory</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="A guide to local organisations, childcare and events from the Families Information Service. &amp;nbsp;" />
<link rel="shortcut icon" href="images/wireframe/favicon.ico" />
<link href="stylesheets/css/customer.css" rel="stylesheet"  type="text/css" media="screen, projection" />
<link href="stylesheets/css/customer-print.css" type="text/css" media="print" rel="stylesheet" />
<link id="textonly" href="stylesheets/css/customer-textonly.css"  rel="alternate" type="text/css" media="screen, projection" />
<!--[if lt IE 9]>
<script src="js/dist/html5shiv.js"></script>
<![endif]-->
<!--[if lt IE 9]><link  href="stylesheets/css/customer-ie.css" type="text/css" media="screen, projection" rel="stylesheet" /><![endif]-->
<!--[if IE 6]>
  <link  href="stylesheets/css/customer-ie6.css" type="text/css" media="screen, projection" rel="stylesheet"/>
<![endif]-->
<!--[if IE 7]>
  <link  href="stylesheets/css/customer-ie7.css" type="text/css" media="screen, projection" rel="stylesheet"/>
<![endif]-->
<!--[if IE 8]>
  <link  href="stylesheets/css/customer-ie8.css" type="text/css" media="screen, projection" rel="stylesheet"/>
<![endif]-->
<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-27207831-1 ']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,700">
<link href="images/customer/favicon.ico" rel="shortcut icon">
<script  data-main="//search3.openobjects.com/cdn/wf/WF2Dependencies" src="//search3.openobjects.com/cdn/require/2.1.9.min.js" type="text/javascript"></script>

</head>
	<body id="home" class="home_page">
	<div id="layout-wrapper" class="container rounded">
				<div id="header" class="clearfix rounded">
					<div id="headerLinks" class="clearfix right">
						<ul>
							<li><a class="textonlycontrol" href="#">Text Only</a></li>
							<li><a accesskey="6" href="help.page" title="Help using this site">Help</a></li>
							<li><a href="sign_in.page">Sign In</a></li>
									<li><a href="register.page">Register</a></li>
								</ul>
					</div>
					<div class="clear left" id="title-holder">
						<h1><a href="home.page" title="Home page">Newcastle Families Information Service</a></h1>					
					</div>
					<div id="translate" class="span-11 right append-bottom prepend-top">
						<div id="google_translate_element" class="span-11"></div>
						<script type="text/javascript">
							function googleTranslateElementInit(){
								new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
							}
						</script>
						<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
					</div>					
					<div class="right" id="shortlist-badge">
							<a id="shortlist_link" class="background-head right span-10" href="shortlist.page" title="Your shortlist contains 0&nbsp;items"><i class="icon-list"></i><strong>&nbsp;Shortlist (<span id="shortlist_count">0&nbsp;items</span>)</strong></a>
						</div>	
					<div id="navigation" class="navbar">
						<div class="navbar-inner">
	<ul class="nav">
		<li class=active><a class="home-btn"href="home.page" accesskey="1" title="Home page"><i class="icon-home"></i>&nbsp;Home</a></li>
		<li class="dropdown ">
					<a data-toggle="dropdown" class="dropdown-toggle  cat-1" href="families.page?familieschannel=1&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Advice and Support</a>
					<ul class="dropdown-menu">
						<li><a href="families.page?familieschannel=1-1&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Adoption, fostering and looked after children</a></li>
						<li><a href="families.page?familieschannel=1-2&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Asylum and immigration</a></li>
						<li><a href="families.page?familieschannel=1-3&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Benefits and tax credits</a></li>
						<li><a href="families.page?familieschannel=1-4&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Bullying advice and support</a></li>
						<li><a href="families.page?familieschannel=1-5&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Carers</a></li>
						<li><a href="families.page?familieschannel=1-6&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Counselling and mediation</a></li>
						<li><a href="families.page?familieschannel=1-20&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Drug, alchol and substance misuse</a></li>
						<li><a href="families.page?familieschannel=1-7&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Parenting and families</a></li>
						<li><a href="families.page?familieschannel=1-8&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Police and victim support</a></li>
						<li><a href="families.page?familieschannel=1-9&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Employment</a></li>
						<li><a href="families.page?familieschannel=1-10&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Domestic violence and refuge</a></li>
						<li><a href="families.page?familieschannel=1-11&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Disabilities and additional needs</a></li>
						<li><a href="families.page?familieschannel=1-21&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Discrimination</a></li>
						<li><a href="families.page?familieschannel=1-12&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Housing and homelessness</a></li>
						<li><a href="families.page?familieschannel=1-13&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Interpreting and translation</a></li>
						<li><a href="families.page?familieschannel=1-14&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Legal and the law</a></li>
						<li><a href="families.page?familieschannel=1-15&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Managing your money</a></li>
						<li><a href="families.page?familieschannel=1-16&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Sex and relationships</a></li>
						<li><a href="families.page?familieschannel=1-17&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Sure Start Children's Centres</a></li>
						<li><a href="families.page?familieschannel=1-18&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Transport and travel</a></li>
						<li><a href="families.page?familieschannel=1-19&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Wellbeing and mental health</a></li>
						</ul>
				</li>
				<li class="dropdown ">
					<a data-toggle="dropdown" class="dropdown-toggle  cat-2" href="families.page?familieschannel=2&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Childcare</a>
					<ul class="dropdown-menu">
						<li><a href="families.page?familieschannel=2-1&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Childminders</a></li>
						<li><a href="families.page?familieschannel=2-2&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Day nurseries</a></li>
						<li><a href="families.page?familieschannel=2-3&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Holiday clubs</a></li>
						<li><a href="families.page?familieschannel=2-4&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Out of school clubs</a></li>
						<li><a href="families.page?familieschannel=2-5&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Playgroups and pre-schools</a></li>
						<li><a href="families.page?familieschannel=2-6&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Nursery schools and classes</a></li>
						<li><a href="families.page?familieschannel=2-7&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Creches</a></li>
						<li><a href="families.page?familieschannel=2-8&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Nannies, home childcarers and babysitters</a></li>
						<li><a href="families.page?familieschannel=2-9&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Help with the costs of childcare</a></li>
						<li><a href="families.page?familieschannel=2-10&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Working and training in childcare</a></li>
						</ul>
				</li>
				<li class="dropdown ">
					<a data-toggle="dropdown" class="dropdown-toggle  cat-3" href="localoffer.page?familieschannel=3&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Disabilities and Additional Needs</a>
					<ul class="dropdown-menu">
						<li><a href="families.page?familieschannel=3-1&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Activities and short breaks</a></li>
						<li><a href="families.page?familieschannel=3-2&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Advice, support and information</a></li>
						<li><a href="families.page?familieschannel=3-4&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Managing your money</a></li>
						<li><a href="families.page?familieschannel=3-10&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Social Care</a></li>
						<li><a href="families.page?familieschannel=3-9&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Education</a></li>
						<li><a href="families.page?familieschannel=3-12&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Transport</a></li>
						<li><a href="families.page?familieschannel=3-13&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Health</a></li>
						<li><a href="families.page?familieschannel=3-11&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Planning for adulthood</a></li>
						<li><a href="families.page?familieschannel=3-3&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Equipment and adaptation</a></li>
						</ul>
				</li>
				<li class="dropdown ">
					<a data-toggle="dropdown" class="dropdown-toggle  cat-4" href="families.page?familieschannel=4&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Places to go, Things to do</a>
					<ul class="dropdown-menu">
						<li><a href="families.page?familieschannel=4-1&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Activities for people with disabilities</a></li>
						<li><a href="families.page?familieschannel=4-2&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Arts and Crafts</a></li>
						<li><a href="families.page?familieschannel=4-3&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Clubs, hobbies and interests</a></li>
						<li><a href="families.page?familieschannel=4-4&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Community centres and groups</a></li>
						<li><a href="families.page?familieschannel=4-23&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Faith centres and groups</a></li>
						<li><a href="families.page?familieschannel=4-5&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Dance and drama</a></li>
						<li><a href="families.page?familieschannel=4-6&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Days out</a></li>
						<li><a href="families.page?familieschannel=4-7&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Entertainment</a></li>
						<li><a href="families.page?familieschannel=4-24&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Faith groups and activities</a></li>
						<li><a href="families.page?familieschannel=4-8&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Holiday activities</a></li>
						<li><a href="families.page?familieschannel=4-9&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Learning activities</a></li>
						<li><a href="families.page?familieschannel=4-10&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Libraries</a></li>
						<li><a href="families.page?familieschannel=4-11&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Film, radio and the media</a></li>
						<li><a href="families.page?familieschannel=4-12&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Museums and galleries</a></li>
						<li><a href="families.page?familieschannel=4-13&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Music</a></li>
						<li><a href="families.page?familieschannel=4-14&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Toddler and baby groups</a></li>
						<li><a href="families.page?familieschannel=4-15&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Parks and countryside</a></li>
						<li><a href="families.page?familieschannel=4-16&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Play</a></li>
						<li><a href="families.page?familieschannel=4-17&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Sport</a></li>
						<li><a href="families.page?familieschannel=4-19&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Uniformed club</a></li>
						<li><a href="families.page?familieschannel=4-20&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Volunteering</a></li>
						<li><a href="families.page?familieschannel=4-21&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Dads groups</a></li>
						<li><a href="families.page?familieschannel=4-22&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Youth clubs</a></li>
						</ul>
				</li>
				<li class="dropdown ">
					<a data-toggle="dropdown" class="dropdown-toggle  cat-5" href="families.page?familieschannel=5&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Health</a>
					<ul class="dropdown-menu">
						<li><a href="families.page?familieschannel=5-1&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Community health resources</a></li>
						<li><a href="families.page?familieschannel=5-2&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Complementary and alternative therapies</a></li>
						<li><a href="families.page?familieschannel=5-3&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Contraception</a></li>
						<li><a href="families.page?familieschannel=5-4&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Counselling and talking therapies</a></li>
						<li><a href="families.page?familieschannel=5-5&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Disability and additional needs</a></li>
						<li><a href="families.page?familieschannel=5-6&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Drugs, alcohol and substance misuse</a></li>
						<li><a href="families.page?familieschannel=5-7&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Eating disorders and diet</a></li>
						<li><a href="families.page?familieschannel=5-8&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Hospitals and hospices</a></li>
						<li><a href="families.page?familieschannel=5-9&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Mental health and wellbeing</a></li>
						<li><a href="families.page?familieschannel=5-13&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Pregnancy and babies</a></li>
						<li><a href="families.page?familieschannel=5-10&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Sexual health</a></li>
						<li><a href="families.page?familieschannel=5-11&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Smoking</a></li>
						<li><a href="families.page?familieschannel=5-12&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Specialist disease and illness organisations</a></li>
						</ul>
				</li>
				<li class="dropdown ">
					<a data-toggle="dropdown" class="dropdown-toggle  cat-6" href="families.page?familieschannel=6&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Education and Learning</a>
					<ul class="dropdown-menu">
						<li><a href="families.page?familieschannel=6-1&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Advice and support for parents</a></li>
						<li><a href="families.page?familieschannel=6-2&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Adult and community learning</a></li>
						<li><a href="families.page?familieschannel=6-3&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Bullying</a></li>
						<li><a href="families.page?familieschannel=6-4&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Higher education</a></li>
						<li><a href="families.page?familieschannel=6-5&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Libraries, books and reading</a></li>
						<li><a href="families.page?familieschannel=6-6&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Private tuition and mentoring</a></li>
						<li><a href="families.page?familieschannel=6-7&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Careers and choosing schools</a></li>
						<li><a href="families.page?familieschannel=6-9&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Schools and Colleges types</a></li>
						<li><a href="families.page?familieschannel=6-10&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Homework, study skills and revision</a></li>
						<li><a href="families.page?familieschannel=6-11&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">Vocational training</a></li>
						</ul>
				</li>
				<li class="dropdown ">
						<a title="" class="findoutmoremenu dropdown-toggle" data-toggle="dropdown" href="contact.page">Find out more</a>
						<ul class="dropdown-menu">
								<li><a href="contact.page">About Us</a></li>
								<li><a href="links.page">Useful Links</a></li>
								<li><a href="help.page">Help with Searching</a></li>
								<li><a href="feedback.page">Feedback</a></li>
								<li><a href="register.page">Get Listed</a></li>
								</ul>
						</li>
				<a href="localoffer.page?familieschannel=3"><img class="localoffermenuflag" src="images/customer/localoffer_triangle.png" alt="Go to Local Offer page"/></a>
	</ul>
</div></div>
				</div>
				<div id="searchForm" class="center clearfix">
						<form action="results.page" class="form-inline" method="get">
							<label for="category"><strong>Search</strong></label>					
							<select name="familieschannel" title="Search within a category" id="category">	
										<option  value="0">All Categories</option>
											<option  value="1" class="strong">&nbsp;&nbsp;Advice and Support</option>
												<option  value="1-1">&nbsp;&nbsp;&nbsp;&nbsp;Adoption, fostering and looked after children</option>
												<option  value="1-2">&nbsp;&nbsp;&nbsp;&nbsp;Asylum and immigration</option>
												<option  value="1-3">&nbsp;&nbsp;&nbsp;&nbsp;Benefits and tax credits</option>
												<option  value="1-4">&nbsp;&nbsp;&nbsp;&nbsp;Bullying advice and support</option>
												<option  value="1-5">&nbsp;&nbsp;&nbsp;&nbsp;Carers</option>
												<option  value="1-6">&nbsp;&nbsp;&nbsp;&nbsp;Counselling and mediation</option>
												<option  value="1-20">&nbsp;&nbsp;&nbsp;&nbsp;Drug, alchol and substance misuse</option>
												<option  value="1-7">&nbsp;&nbsp;&nbsp;&nbsp;Parenting and families</option>
												<option  value="1-8">&nbsp;&nbsp;&nbsp;&nbsp;Police and victim support</option>
												<option  value="1-9">&nbsp;&nbsp;&nbsp;&nbsp;Employment</option>
												<option  value="1-10">&nbsp;&nbsp;&nbsp;&nbsp;Domestic violence and refuge</option>
												<option  value="1-11">&nbsp;&nbsp;&nbsp;&nbsp;Disabilities and additional needs</option>
												<option  value="1-21">&nbsp;&nbsp;&nbsp;&nbsp;Discrimination</option>
												<option  value="1-12">&nbsp;&nbsp;&nbsp;&nbsp;Housing and homelessness</option>
												<option  value="1-13">&nbsp;&nbsp;&nbsp;&nbsp;Interpreting and translation</option>
												<option  value="1-14">&nbsp;&nbsp;&nbsp;&nbsp;Legal and the law</option>
												<option  value="1-15">&nbsp;&nbsp;&nbsp;&nbsp;Managing your money</option>
												<option  value="1-16">&nbsp;&nbsp;&nbsp;&nbsp;Sex and relationships</option>
												<option  value="1-17">&nbsp;&nbsp;&nbsp;&nbsp;Sure Start Children&#039;s Centres</option>
												<option  value="1-18">&nbsp;&nbsp;&nbsp;&nbsp;Transport and travel</option>
												<option  value="1-19">&nbsp;&nbsp;&nbsp;&nbsp;Wellbeing and mental health</option>
												<option  value="2" class="strong">&nbsp;&nbsp;Childcare</option>
												<option  value="2-1">&nbsp;&nbsp;&nbsp;&nbsp;Childminders</option>
												<option  value="2-2">&nbsp;&nbsp;&nbsp;&nbsp;Day nurseries</option>
												<option  value="2-3">&nbsp;&nbsp;&nbsp;&nbsp;Holiday clubs</option>
												<option  value="2-4">&nbsp;&nbsp;&nbsp;&nbsp;Out of school clubs</option>
												<option  value="2-5">&nbsp;&nbsp;&nbsp;&nbsp;Playgroups and pre-schools</option>
												<option  value="2-6">&nbsp;&nbsp;&nbsp;&nbsp;Nursery schools and classes</option>
												<option  value="2-7">&nbsp;&nbsp;&nbsp;&nbsp;Creches</option>
												<option  value="2-8">&nbsp;&nbsp;&nbsp;&nbsp;Nannies, home childcarers and babysitters</option>
												<option  value="2-9">&nbsp;&nbsp;&nbsp;&nbsp;Help with the costs of childcare</option>
												<option  value="2-10">&nbsp;&nbsp;&nbsp;&nbsp;Working and training in childcare</option>
												<option  value="3" class="strong">&nbsp;&nbsp;Disabilities and Additional Needs</option>
												<option  value="3-1">&nbsp;&nbsp;&nbsp;&nbsp;Activities and short breaks</option>
												<option  value="3-2">&nbsp;&nbsp;&nbsp;&nbsp;Advice, support and information</option>
												<option  value="3-4">&nbsp;&nbsp;&nbsp;&nbsp;Managing your money</option>
												<option  value="3-10">&nbsp;&nbsp;&nbsp;&nbsp;Social Care</option>
												<option  value="3-9">&nbsp;&nbsp;&nbsp;&nbsp;Education</option>
												<option  value="3-12">&nbsp;&nbsp;&nbsp;&nbsp;Transport</option>
												<option  value="3-13">&nbsp;&nbsp;&nbsp;&nbsp;Health</option>
												<option  value="3-11">&nbsp;&nbsp;&nbsp;&nbsp;Planning for adulthood</option>
												<option  value="3-3">&nbsp;&nbsp;&nbsp;&nbsp;Equipment and adaptation</option>
												<option  value="4" class="strong">&nbsp;&nbsp;Places to go, Things to do</option>
												<option  value="4-1">&nbsp;&nbsp;&nbsp;&nbsp;Activities for people with disabilities</option>
												<option  value="4-2">&nbsp;&nbsp;&nbsp;&nbsp;Arts and Crafts</option>
												<option  value="4-3">&nbsp;&nbsp;&nbsp;&nbsp;Clubs, hobbies and interests</option>
												<option  value="4-4">&nbsp;&nbsp;&nbsp;&nbsp;Community centres and groups</option>
												<option  value="4-23">&nbsp;&nbsp;&nbsp;&nbsp;Faith centres and groups</option>
												<option  value="4-5">&nbsp;&nbsp;&nbsp;&nbsp;Dance and drama</option>
												<option  value="4-6">&nbsp;&nbsp;&nbsp;&nbsp;Days out</option>
												<option  value="4-7">&nbsp;&nbsp;&nbsp;&nbsp;Entertainment</option>
												<option  value="4-24">&nbsp;&nbsp;&nbsp;&nbsp;Faith groups and activities</option>
												<option  value="4-8">&nbsp;&nbsp;&nbsp;&nbsp;Holiday activities</option>
												<option  value="4-9">&nbsp;&nbsp;&nbsp;&nbsp;Learning activities</option>
												<option  value="4-10">&nbsp;&nbsp;&nbsp;&nbsp;Libraries</option>
												<option  value="4-11">&nbsp;&nbsp;&nbsp;&nbsp;Film, radio and the media</option>
												<option  value="4-12">&nbsp;&nbsp;&nbsp;&nbsp;Museums and galleries</option>
												<option  value="4-13">&nbsp;&nbsp;&nbsp;&nbsp;Music</option>
												<option  value="4-14">&nbsp;&nbsp;&nbsp;&nbsp;Toddler and baby groups</option>
												<option  value="4-15">&nbsp;&nbsp;&nbsp;&nbsp;Parks and countryside</option>
												<option  value="4-16">&nbsp;&nbsp;&nbsp;&nbsp;Play</option>
												<option  value="4-17">&nbsp;&nbsp;&nbsp;&nbsp;Sport</option>
												<option  value="4-19">&nbsp;&nbsp;&nbsp;&nbsp;Uniformed club</option>
												<option  value="4-20">&nbsp;&nbsp;&nbsp;&nbsp;Volunteering</option>
												<option  value="4-21">&nbsp;&nbsp;&nbsp;&nbsp;Dads groups</option>
												<option  value="4-22">&nbsp;&nbsp;&nbsp;&nbsp;Youth clubs</option>
												<option  value="5" class="strong">&nbsp;&nbsp;Health</option>
												<option  value="5-1">&nbsp;&nbsp;&nbsp;&nbsp;Community health resources</option>
												<option  value="5-2">&nbsp;&nbsp;&nbsp;&nbsp;Complementary and alternative therapies</option>
												<option  value="5-3">&nbsp;&nbsp;&nbsp;&nbsp;Contraception</option>
												<option  value="5-4">&nbsp;&nbsp;&nbsp;&nbsp;Counselling and talking therapies</option>
												<option  value="5-5">&nbsp;&nbsp;&nbsp;&nbsp;Disability and additional needs</option>
												<option  value="5-6">&nbsp;&nbsp;&nbsp;&nbsp;Drugs, alcohol and substance misuse</option>
												<option  value="5-7">&nbsp;&nbsp;&nbsp;&nbsp;Eating disorders and diet</option>
												<option  value="5-8">&nbsp;&nbsp;&nbsp;&nbsp;Hospitals and hospices</option>
												<option  value="5-9">&nbsp;&nbsp;&nbsp;&nbsp;Mental health and wellbeing</option>
												<option  value="5-13">&nbsp;&nbsp;&nbsp;&nbsp;Pregnancy and babies</option>
												<option  value="5-10">&nbsp;&nbsp;&nbsp;&nbsp;Sexual health</option>
												<option  value="5-11">&nbsp;&nbsp;&nbsp;&nbsp;Smoking</option>
												<option  value="5-12">&nbsp;&nbsp;&nbsp;&nbsp;Specialist disease and illness organisations</option>
												<option  value="6" class="strong">&nbsp;&nbsp;Education and Learning</option>
												<option  value="6-1">&nbsp;&nbsp;&nbsp;&nbsp;Advice and support for parents</option>
												<option  value="6-2">&nbsp;&nbsp;&nbsp;&nbsp;Adult and community learning</option>
												<option  value="6-3">&nbsp;&nbsp;&nbsp;&nbsp;Bullying</option>
												<option  value="6-4">&nbsp;&nbsp;&nbsp;&nbsp;Higher education</option>
												<option  value="6-5">&nbsp;&nbsp;&nbsp;&nbsp;Libraries, books and reading</option>
												<option  value="6-6">&nbsp;&nbsp;&nbsp;&nbsp;Private tuition and mentoring</option>
												<option  value="6-7">&nbsp;&nbsp;&nbsp;&nbsp;Careers and choosing schools</option>
												<option  value="6-9">&nbsp;&nbsp;&nbsp;&nbsp;Schools and Colleges types</option>
												<option  value="6-10">&nbsp;&nbsp;&nbsp;&nbsp;Homework, study skills and revision</option>
												<option  value="6-11">&nbsp;&nbsp;&nbsp;&nbsp;Vocational training</option>
												</select>
								<label for="qt">&nbsp;<strong>for</strong>&nbsp;</label>						
							<input type="text" id="qt" name="qt" placeholder="Keyword(s)" value="" title="Search for an activity, service or organisation"/>
							<label for="loc">&nbsp;<strong>in</strong>&nbsp;</label>
							<input type="text" id="loc" name="term"  placeholder="Postcode/location" value="" title="Search for a location using postcode, place name or postal outcode"/>
							<input type="hidden" id="sorttype" name="sorttype" value="" />
							&nbsp;<input type="submit" class="btn btn-primary" value="Search" title="Search the site" />					
							&nbsp;<input type="reset" class="btn btn-secondary" value="Clear" title="Clear these fields"/>							
						</form>
					</div>
				<div id="content" class="clearfix prepend-top append-bottom">
					<div class="span-12">
	<div class="well well-small clearfix">
			<a  class="background" href="whatson.page"><h3><i class="icon-calendar"></i>&nbsp;What's On</h3></a>
			<div id="event_calender" class="clear clearfix"></div>			
		</div>

		<div id="hol-mlist" class="well well-small clearfix">
			<h5>Holiday Activity Mailing List</h5>
			<form id="hol-mlist" method="get" action="mailinglist.page">
				<input type="text" placeholder="email address" name="e_email" class="text">
				<input type="submit" value="Send" class="btn btn-secondary">
			</form>
		</div>
		<div class="well well-small clearfix">
			<a class="background" href="localoffer.page?familieschannel=3&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1">
				<h3>Local Offer</h3>
			</a>
		</div>
		<div class="well well-small clearfix">
			<a class="background" href="results.page?familieschannel=4-8&sorttype=field&sortorder=1&sortfield=__lastUserOrAdminUpdate">
				<h3>Holiday Activities</h3>
			</a>
		</div>
	</div><div class="span-36-last">
	<div class="clearfix well well-small prepend-2 home">
		
		<div class="site_resource ">
			<div class="right">
				<img src="https://search3.openobjects.com/mediamanager/newcastle/repository/images/home_png/home_display.png" alt="polaroid snaps" title="polaroid snaps"/></div>
			<h2>Newcastle Services Directory</h2>
			<p>A guide to local organisations, childcare and events from the <a href="contact.page">Families Information Service</a>.</p>
<p>&nbsp;</p></div>	
		<div id="categoryWrap" class="left">
			<ul id="category_list" class="clear">
				<li class="families">
						<a class="cat_node cat-1" href="families.page?familieschannel=1&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1" title="Advice and Support" data-content=""><span>Advice and Support</span></a>
					</li>
				<li class="families">
						<a class="cat_node cat-2" href="families.page?familieschannel=2&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1" title="Childcare" data-content=""><span>Childcare</span></a>
					</li>
				<li class="localoffer">
						<a class="cat_node cat-3" href="localoffer.page?familieschannel=3&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1" title="Disabilities and Additional Needs" data-content=""><span>Disabilities and Additional Needs</span></a>
					</li>
				<li class="families">
						<a class="cat_node cat-4" href="families.page?familieschannel=4&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1" title="Places to go, Things to do" data-content=""><span>Places to go, Things to do</span></a>
					</li>
				<li class="families">
						<a class="cat_node cat-5" href="families.page?familieschannel=5&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1" title="Health" data-content=""><span>Health</span></a>
					</li>
				<li class="families">
						<a class="cat_node cat-6" href="families.page?familieschannel=6&sortfield=__lastUserOrAdminUpdate&sorttype=field&sortorder=1" title="Education and Learning" data-content=""><span>Education and Learning</span></a>
					</li>
				</ul>
		</div>
	</div>
</div></div>
			</div>
			
			<div id="footer" class="rounded">
				<div id="section_two" class="rounded">
					<div class="right footerlinks">
						<a href="home.page">Home</a>&nbsp;&nbsp;|&nbsp;&nbsp;
						<a href="contact.page">About Us</a>&nbsp;&nbsp;|&nbsp;&nbsp;
						<a href="help.page">Help</a>&nbsp;&nbsp;|&nbsp;&nbsp;
						<a href="links.page">Links</a>&nbsp;&nbsp;|&nbsp;&nbsp;
						<a href="feedback.page">Feedback</a>&nbsp;&nbsp;|&nbsp;&nbsp;
						<a href="site.page?id=TfuPVU21_jw">Terms and Conditions</a>&nbsp;&nbsp;|&nbsp;&nbsp;
						<a href="site.page?id=bwbO6bD2FM4">Privacy and Cookies Policy</a>
					</div>
					<div class="clearfix span-47">
						<span class="title">Disclaimer</span>
						<p>We do not endorse or recommend entries in the Directory because we are a free and impartial service.Our aim is to ensure that the information is accurate and it is up to providers to keep us informed of any changes to their service.</p>
						<p>Currently all staff in Ofsted registered settings need to be Criminal Records Bureau (CRB) checked. Many services will also require Public Liability Insurance. Legal requirements vary from service to service so it is advisable to check with providers beforehand to see if they meet these requirements.</p>
					</div>
				</div>
				<div class="sponsor rounded">
					<a href="http://www.newcastle.gov.uk/" title="Newcastle Search" id="newcastle_cc" target="_blank"><img src="images/customer/newcastle_cc.png" alt="Newcastle City Council" /></a>
					<a href="http://www.surestartnewcastlecc.org.uk/" title="Sure Start Childrens Centre" id="nhs" target="_blank"><img src="images/customer/nhs.png" alt="Sure Start Childrens Centre" /></a>
					<a href="http://www.disabledgo.com/" title="Disabled" id="disabled" target="_blank"><img src="images/customer/disabled.png" alt="Disabled" /></a>
					<a href="http://www.newcastleyouthcouncil.co.uk/Pages.aspx/Page/113" title="Youth" id="youth" target="_blank"><img src="images/customer/youth.png" alt="Youth" /></a>
					<a href="http://www.browsealoud.com/downloads" target="_blank"><img src="images/customer/BrowseAloud.png"></a>
				</div>	
				<div id="section_one" class="rounded">				
					<span class="title">Feedback</span>
					<p>If you know of any changes to the details of the services in the directory please email <a href="mailto:fis@newcastle.gov.uk">fis@newcastle.gov.uk</a> or fill in our quick <a href="feedback.page">feedback form</a>. We rely on your help to keep our records up to date. If you want to manage your own information on our site, please <a href="register.page">Register</a> and we will give you access to manage your own information.</p>
				</div>			
			</div>
			<small class="container"><a href="http://www.openobjects.com">Powered by Open Objects</a></small>
			<script type="text/javascript" src="//search3.openobjects.com/cdn/jquery/1.7.2.min.js" charset="utf-8"></script>
<script type="text/javascript" src="//search3.openobjects.com/cdn/jquery/ui/1.10.min.js" charset="utf-8"></script>
<script type="text/javascript" src="js/dist/wf2.min.js" charset="utf-8"></script>
<script type="text/javascript">
		//<![CDATA[
			$(document).ready(function(){				
				
			});
		//]]>
		</script>
	</body>
	</html>
	